<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accesibilidad</key>
	<string>alsfri12731</string>
	<key>ahorrartiempo</key>
	<string>alsfri30740</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>archivospdf</key>
	<string>alsfri11546</string>
	<key>archivosweb</key>
	<string>alsfri11001</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>autorrelleno</key>
	<string>alsfri10992</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>barradefavoritos</key>
	<string>alsfri12751</string>
	<key>barradeherramientas</key>
	<string>alsfri12750</string>
	<key>barradeubicación</key>
	<string>alsfri12753</string>
	<key>basesdedatos</key>
	<string>alsfri26747</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bloqueo</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>buscar</key>
	<string>alsfri12729</string>
	<key>buscarenlaweb</key>
	<string>alsfri12744</string>
	<key>buscarpáginasweb</key>
	<string>alsfri10178</string>
	<key>caché</key>
	<string>alsfri12760</string>
	<key>centrodenotificaciones</key>
	<string>alsfri38420</string>
	<key>certificados</key>
	<string>alsfri12773</string>
	<key>certificadosdigitales</key>
	<string>alsfri12774</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>codificacióndeltexto</key>
	<string>alsfri12762</string>
	<key>colecciones</key>
	<string>alsfri51030</string>
	<key>comentarios</key>
	<string>alsfri20882</string>
	<key>configurarsafari</key>
	<string>alsfri10198</string>
	<key>conservarlaprivacidadylaseguridad</key>
	<string>alsfri20920</string>
	<key>controlesparentales</key>
	<string>alsfri10997</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>descargando</key>
	<string>alsfri10200</string>
	<key>eliminar</key>
	<string>alsfri19651</string>
	<key>enlaces</key>
	<string>alsfri12737</string>
	<key>enviarpáginasporcorreo</key>
	<string>alsfri11002</string>
	<key>enviarpáginaswebporcorreoelectrónico</key>
	<string>alsfri12778</string>
	<key>exportarfavoritos</key>
	<string>alsfri10999</string>
	<key>extensiones</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>favoritos</key>
	<string>alsfri10197</string>
	<key>favoritossolucióndeproblemas</key>
	<string>alsfri20883</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>formularios</key>
	<string>alsfri10199</string>
	<key>funcionesrápidas</key>
	<string>alsfri11014</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>gráficos</key>
	<string>alsfri12811</string>
	<key>guardarpáginasweb</key>
	<string>alsfri11545</string>
	<key>hacerzoom</key>
	<string>alsfri30905</string>
	<key>historial</key>
	<string>alsfri12726</string>
	<key>hojadeestilo</key>
	<string>alsfri12769</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>iconodebloqueo</key>
	<string>alsfri12780</string>
	<key>importarfavoritos</key>
	<string>alsfri10998</string>
	<key>imágenes</key>
	<string>alsfri12768</string>
	<key>informacióndeldesarrollador</key>
	<string>alsfri12732</string>
	<key>internacional</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>lector</key>
	<string>alsfri33419</string>
	<key>libretadedirecciones</key>
	<string>alsfri18211</string>
	<key>listadelectura</key>
	<string>alsfri35372</string>
	<key>mensajes</key>
	<string>alsfri51033</string>
	<key>menúdefavoritos</key>
	<string>alsfri12752</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>módulos</key>
	<string>alsfri12733</string>
	<key>módulospowerpc</key>
	<string>alsfri12783</string>
	<key>navegar</key>
	<string>alsfri10161</string>
	<key>navegarporlared</key>
	<string>alsfri20919</string>
	<key>navegarsolucióndeproblemas</key>
	<string>alsfri20881</string>
	<key>navegarybuscar</key>
	<string>alsfri30738</string>
	<key>notificaciones</key>
	<string>alsfri38421</string>
	<key>organizarfavoritos</key>
	<string>alsfri12755</string>
	<key>pantallacompleta</key>
	<string>alsfri35371</string>
	<key>pases</key>
	<string>alsfri38601</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>personalizarsafari</key>
	<string>alsfri12727</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>preferencias</key>
	<string>alsfri12781</string>
	<key>preferenciasdeidioma</key>
	<string>alsfri12761</string>
	<key>preferenciasdesafari</key>
	<string>alsfri12782</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>privacidad</key>
	<string>alsfri12730</string>
	<key>privacidadyseguridad</key>
	<string>alsfri30739</string>
	<key>problemasalabrirpáginaswebositiosweb</key>
	<string>alsfri12801</string>
	<key>problemasalleerpáginasweb</key>
	<string>alsfri12802</string>
	<key>problemasalrellenarautomáticamenteformulariosocontraseñas</key>
	<string>alsfri12800</string>
	<key>problemasconelcampodebúsquedaoconlabúsqueda</key>
	<string>alsfri12807</string>
	<key>problemasconfavoritos</key>
	<string>alsfri12803</string>
	<key>problemasconlosmódulos</key>
	<string>alsfri12806</string>
	<key>problemasparadescargararchivos</key>
	<string>alsfri12804</string>
	<key>páginadeinicio</key>
	<string>alsfri12748</string>
	<key>páginasweb</key>
	<string>alsfri12739</string>
	<key>resolucióndeproblemas</key>
	<string>alsfri30741</string>
	<key>restablecersafari</key>
	<string>alsfri17878</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>seguridad</key>
	<string>alsfri10201</string>
	<key>servidorproxy</key>
	<string>alsfri12770</string>
	<key>sincronizar</key>
	<string>alsfri12771</string>
	<key>sitioweb</key>
	<string>alsfri12740</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>solucióndeproblemas</key>
	<string>alsfri12810</string>
	<key>tabuladores</key>
	<string>alsfri10996</string>
	<key>tamañodeltexto</key>
	<string>alsfri12763</string>
	<key>teclado</key>
	<string>alsfri12791</string>
	<key>tiposdeletra</key>
	<string>alsfri12764</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>ventanadelnavegador</key>
	<string>alsfri12741</string>
	<key>ventanadesafari</key>
	<string>alsfri12742</string>
	<key>ventanas</key>
	<string>alsfri12743</string>
	<key>ventanasemergentes</key>
	<string>alsfri12766</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
</dict>
</plist>
