<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adressbuch</key>
	<string>alsfri18211</string>
	<key>anpassenvonsafari</key>
	<string>alsfri12727</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>automausfüllen</key>
	<string>alsfri10992</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bedienungshilfen</key>
	<string>alsfri12731</string>
	<key>bereinigen</key>
	<string>alsfri12821</string>
	<key>bildschirmfüllend</key>
	<string>alsfri35371</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>browserfenster</key>
	<string>alsfri12741</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>datenbanken</key>
	<string>alsfri26747</string>
	<key>datenschutzundsicherheit</key>
	<string>alsfri30739</string>
	<key>digitalezertifikate</key>
	<string>alsfri12774</string>
	<key>einrichtenvonsafari</key>
	<string>alsfri10198</string>
	<key>einsparenvonzeit</key>
	<string>alsfri30740</string>
	<key>einstellungen</key>
	<string>alsfri12781</string>
	<key>entwicklerinformationen</key>
	<string>alsfri12732</string>
	<key>erweiterungen</key>
	<string>alsfri33070</string>
	<key>exportierenvonlesezeichen</key>
	<string>alsfri10999</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>feedback</key>
	<string>alsfri20882</string>
	<key>fehlerbeseitigung</key>
	<string>alsfri12810</string>
	<key>fenster</key>
	<string>alsfri12743</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>formulare</key>
	<string>alsfri10199</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafikdateien</key>
	<string>alsfri12768</string>
	<key>grafiken</key>
	<string>alsfri12811</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>importierenvonlesezeichen</key>
	<string>alsfri10998</string>
	<key>international</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>karten</key>
	<string>alsfri38601</string>
	<key>kindersicherung</key>
	<string>alsfri10997</string>
	<key>kurzbefehle</key>
	<string>alsfri11014</string>
	<key>laden</key>
	<string>alsfri10200</string>
	<key>leseliste</key>
	<string>alsfri35372</string>
	<key>lesezeichen</key>
	<string>alsfri10197</string>
	<key>lesezeichenfehlerbeseitigung</key>
	<string>alsfri20883</string>
	<key>lesezeichenleiste</key>
	<string>alsfri12751</string>
	<key>links</key>
	<string>alsfri12737</string>
	<key>löschen</key>
	<string>alsfri19651</string>
	<key>lösenvonproblemen</key>
	<string>alsfri30741</string>
	<key>mailenvonwebseiten</key>
	<string>alsfri12778</string>
	<key>mailingseiten</key>
	<string>alsfri11002</string>
	<key>menülesezeichen</key>
	<string>alsfri12752</string>
	<key>mitteilungen</key>
	<string>alsfri38421</string>
	<key>mitteilungszentrale</key>
	<string>alsfri38420</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>nachrichten</key>
	<string>alsfri51033</string>
	<key>navigierenimweb</key>
	<string>alsfri20919</string>
	<key>navigierenundsuchen</key>
	<string>alsfri30738</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdfdateien</key>
	<string>alsfri11546</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>plugins</key>
	<string>alsfri12733</string>
	<key>popups</key>
	<string>alsfri12766</string>
	<key>powerpcplugin</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>privatsphäre</key>
	<string>alsfri12730</string>
	<key>problemebeimautomatischenausfüllenvonformularenoderpasswörtern</key>
	<string>alsfri12800</string>
	<key>problemebeimladenvondateien</key>
	<string>alsfri12804</string>
	<key>problemebeimlesenvonwebseiten</key>
	<string>alsfri12802</string>
	<key>problemebeimöffnenvonwebseitenoderwebsites</key>
	<string>alsfri12801</string>
	<key>problememitdemsuchfeldoderdemsuchen</key>
	<string>alsfri12807</string>
	<key>problememitlesezeichen</key>
	<string>alsfri12803</string>
	<key>problememitplugins</key>
	<string>alsfri12806</string>
	<key>proxyserver</key>
	<string>alsfri12770</string>
	<key>reader</key>
	<string>alsfri33419</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safarieinstellungen</key>
	<string>alsfri12782</string>
	<key>safarifenster</key>
	<string>alsfri12742</string>
	<key>sammlungen</key>
	<string>alsfri51030</string>
	<key>schlosssymbol</key>
	<string>alsfri12780</string>
	<key>schriften</key>
	<string>alsfri12764</string>
	<key>sicherheit</key>
	<string>alsfri10201</string>
	<key>sichernvonwebseiten</key>
	<string>alsfri11545</string>
	<key>sicherstellenvondatenschutzundsicherheit</key>
	<string>alsfri20920</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>spracheinstellung</key>
	<string>alsfri12761</string>
	<key>startseite</key>
	<string>alsfri12748</string>
	<key>stylesheet</key>
	<string>alsfri12769</string>
	<key>suchen</key>
	<string>alsfri12729</string>
	<key>suchennachwebseiten</key>
	<string>alsfri10178</string>
	<key>suchleiste</key>
	<string>alsfri12753</string>
	<key>surfen</key>
	<string>alsfri10161</string>
	<key>surfenfehlerbeseitigung</key>
	<string>alsfri20881</string>
	<key>symbolleiste</key>
	<string>alsfri12750</string>
	<key>synchronisieren</key>
	<string>alsfri12771</string>
	<key>tabs</key>
	<string>alsfri10996</string>
	<key>tastatur</key>
	<string>alsfri12791</string>
	<key>textcodierung</key>
	<string>alsfri12762</string>
	<key>textgröße</key>
	<string>alsfri12763</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>unterdrücken</key>
	<string>alsfri12765</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>verlauf</key>
	<string>alsfri12726</string>
	<key>verwaltenvonlesezeichen</key>
	<string>alsfri12755</string>
	<key>webarchive</key>
	<string>alsfri11001</string>
	<key>webseiten</key>
	<string>alsfri12739</string>
	<key>website</key>
	<string>alsfri12740</string>
	<key>websuche</key>
	<string>alsfri12744</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zertifikate</key>
	<string>alsfri12773</string>
	<key>zoomen</key>
	<string>alsfri30905</string>
	<key>zurücksetzenvonsafari</key>
	<string>alsfri17878</string>
</dict>
</plist>
