<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>antarabangsa</key>
	<string>alsfri12772</string>
	<key>antipemalsuan</key>
	<string>alsfri27219</string>
	<key>arkibweb</key>
	<string>alsfri11001</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>baralat</key>
	<string>alsfri12750</string>
	<key>barlokasi</key>
	<string>alsfri12753</string>
	<key>barpenandabuku</key>
	<string>alsfri12751</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>borang</key>
	<string>alsfri10199</string>
	<key>bukualamat</key>
	<string>alsfri18211</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>carianweb</key>
	<string>alsfri12744</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>eksportpenandabuku</key>
	<string>alsfri10999</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>failpdf</key>
	<string>alsfri11546</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fon</key>
	<string>alsfri12764</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafik</key>
	<string>alsfri12811</string>
	<key>halamanmel</key>
	<string>alsfri11002</string>
	<key>helaiangaya</key>
	<string>alsfri12769</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>ikonkunci</key>
	<string>alsfri12780</string>
	<key>imej</key>
	<string>alsfri12768</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>isiauto</key>
	<string>alsfri10992</string>
	<key>kawalanibubapa</key>
	<string>alsfri10997</string>
	<key>kebolehcapaian</key>
	<string>alsfri12731</string>
	<key>keselamatan</key>
	<string>alsfri10201</string>
	<key>keutamaan</key>
	<string>alsfri12781</string>
	<key>keutamaanbahasa</key>
	<string>alsfri12761</string>
	<key>keutamaansafari</key>
	<string>alsfri12782</string>
	<key>koleksi</key>
	<string>alsfri51030</string>
	<key>kuki</key>
	<string>alsfri12767</string>
	<key>laluan</key>
	<string>alsfri38601</string>
	<key>lamanweb</key>
	<string>alsfri12740</string>
	<key>lamanwebpopular</key>
	<string>alsfri27218</string>
	<key>maklumatpemaju</key>
	<string>alsfri12732</string>
	<key>maklumbalas</key>
	<string>alsfri20882</string>
	<key>masalahautoisiborangataukatalaluan</key>
	<string>alsfri12800</string>
	<key>masalahdenganmedancarianataupencarian</key>
	<string>alsfri12807</string>
	<key>masalahdenganpenandabuku</key>
	<string>alsfri12803</string>
	<key>masalahdenganplugin</key>
	<string>alsfri12806</string>
	<key>masalahmembacalamanweb</key>
	<string>alsfri12802</string>
	<key>masalahmembukalamanwebataulamanweb</key>
	<string>alsfri12801</string>
	<key>masalahmemuatturunfail</key>
	<string>alsfri12804</string>
	<key>melayaripenyelesaianmasalah</key>
	<string>alsfri20881</string>
	<key>memadamkan</key>
	<string>alsfri19651</string>
	<key>menavigasiweb</key>
	<string>alsfri20919</string>
	<key>mencarilamanweb</key>
	<string>alsfri10178</string>
	<key>mengaturpenandabuku</key>
	<string>alsfri12755</string>
	<key>mengekalkanprivasidankeselamatan</key>
	<string>alsfri20920</string>
	<key>menghantaremellamanweb</key>
	<string>alsfri12778</string>
	<key>mengimportpenandabuku</key>
	<string>alsfri10998</string>
	<key>menjimatkanmasa</key>
	<string>alsfri30740</string>
	<key>menupenandabuku</key>
	<string>alsfri12752</string>
	<key>menyekat</key>
	<string>alsfri12765</string>
	<key>menyelaras</key>
	<string>alsfri12771</string>
	<key>menyelesaikanmasalah</key>
	<string>alsfri30741</string>
	<key>menyesuaikansafari</key>
	<string>alsfri12727</string>
	<key>menyimpanlamanweb</key>
	<string>alsfri11545</string>
	<key>mesej</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigasidancari</key>
	<string>alsfri30738</string>
	<key>pangkalandata</key>
	<string>alsfri26747</string>
	<key>papankekunci</key>
	<string>alsfri12791</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pautan</key>
	<string>alsfri12737</string>
	<key>pelayanproksi</key>
	<string>alsfri12770</string>
	<key>pemalsuan</key>
	<string>alsfri27614</string>
	<key>pembaca</key>
	<string>alsfri33419</string>
	<key>pemberitahuan</key>
	<string>alsfri38421</string>
	<key>penandabuku</key>
	<string>alsfri10197</string>
	<key>penandabukupenyelesaianmasalah</key>
	<string>alsfri20883</string>
	<key>pengekodanteks</key>
	<string>alsfri12762</string>
	<key>pengesetansemulasafari</key>
	<string>alsfri17878</string>
	<key>penyelesaianmasalah</key>
	<string>alsfri12810</string>
	<key>penzuman</key>
	<string>alsfri30905</string>
	<key>pintasan</key>
	<string>alsfri11014</string>
	<key>plugin</key>
	<string>alsfri12733</string>
	<key>pluginpckuasa</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>privasi</key>
	<string>alsfri12730</string>
	<key>privasidankeselamatan</key>
	<string>alsfri30739</string>
	<key>pusatpemberitahuan</key>
	<string>alsfri38420</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>saizteks</key>
	<string>alsfri12763</string>
	<key>sambungan</key>
	<string>alsfri33070</string>
	<key>sedangcari</key>
	<string>alsfri12729</string>
	<key>sedangmenyediakansafari</key>
	<string>alsfri10198</string>
	<key>sedangmenyemakimbas</key>
	<string>alsfri10161</string>
	<key>sedangmuatturun</key>
	<string>alsfri10200</string>
	<key>sejarah</key>
	<string>alsfri12726</string>
	<key>senaraibacaan</key>
	<string>alsfri35372</string>
	<key>sijil</key>
	<string>alsfri12773</string>
	<key>sijildigital</key>
	<string>alsfri12774</string>
	<key>skrinpenuh</key>
	<string>alsfri35371</string>
	<key>skrinutama</key>
	<string>alsfri12748</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>tab</key>
	<string>alsfri10996</string>
	<key>tetingkap</key>
	<string>alsfri12743</string>
	<key>tetingkappelayar</key>
	<string>alsfri12741</string>
	<key>tetingkapsafari</key>
	<string>alsfri12742</string>
	<key>tetingkaptimbul</key>
	<string>alsfri12766</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
</dict>
</plist>
