<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>cookie</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>messages</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdf檔案</key>
	<string>alsfri11546</string>
	<key>powerpc外掛模組</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safari偏好設定</key>
	<string>alsfri12782</string>
	<key>safari視窗</key>
	<string>alsfri12742</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>下載</key>
	<string>alsfri10200</string>
	<key>下載檔案時發生問題</key>
	<string>alsfri12804</string>
	<key>代理伺服器</key>
	<string>alsfri12770</string>
	<key>位置列</key>
	<string>alsfri12753</string>
	<key>使用者意見</key>
	<string>alsfri20882</string>
	<key>偏好設定</key>
	<string>alsfri12781</string>
	<key>儲存網頁</key>
	<string>alsfri11545</string>
	<key>全螢幕</key>
	<string>alsfri35371</string>
	<key>分級保護控制</key>
	<string>alsfri10997</string>
	<key>刪除</key>
	<string>alsfri19651</string>
	<key>反網路釣魚</key>
	<string>alsfri27219</string>
	<key>同步</key>
	<string>alsfri12771</string>
	<key>國際設定</key>
	<string>alsfri12772</string>
	<key>圖形</key>
	<string>alsfri12811</string>
	<key>外掛模組</key>
	<string>alsfri12733</string>
	<key>外掛模組發生問題</key>
	<string>alsfri12806</string>
	<key>字體</key>
	<string>alsfri12764</string>
	<key>安全性</key>
	<string>alsfri10201</string>
	<key>尋找網頁</key>
	<string>alsfri10178</string>
	<key>導覽和搜尋</key>
	<string>alsfri30738</string>
	<key>導覽網頁</key>
	<string>alsfri20919</string>
	<key>工具列</key>
	<string>alsfri12750</string>
	<key>延伸功能</key>
	<string>alsfri33070</string>
	<key>彈出式視窗</key>
	<string>alsfri12766</string>
	<key>影像</key>
	<string>alsfri12768</string>
	<key>快取</key>
	<string>alsfri12760</string>
	<key>快速鍵</key>
	<string>alsfri11014</string>
	<key>憑證</key>
	<string>alsfri12773</string>
	<key>打開網頁或網站的問題</key>
	<string>alsfri12801</string>
	<key>搜尋</key>
	<string>alsfri12729</string>
	<key>搜尋欄位或搜尋的問題</key>
	<string>alsfri12807</string>
	<key>整理書籤</key>
	<string>alsfri12755</string>
	<key>數位憑證</key>
	<string>alsfri12774</string>
	<key>文字大小</key>
	<string>alsfri12763</string>
	<key>文字編碼</key>
	<string>alsfri12762</string>
	<key>書籤</key>
	<string>alsfri10197</string>
	<key>書籤列</key>
	<string>alsfri12751</string>
	<key>書籤疑難排解</key>
	<string>alsfri20883</string>
	<key>書籤的問題</key>
	<string>alsfri12803</string>
	<key>書籤選單</key>
	<string>alsfri12752</string>
	<key>標籤頁</key>
	<string>alsfri10996</string>
	<key>樣式表</key>
	<string>alsfri12769</string>
	<key>清除中</key>
	<string>alsfri12821</string>
	<key>瀏覽</key>
	<string>alsfri10161</string>
	<key>瀏覽器視窗</key>
	<string>alsfri12741</string>
	<key>瀏覽疑難排解</key>
	<string>alsfri20881</string>
	<key>疑難解答</key>
	<string>alsfri12810</string>
	<key>百度</key>
	<string>alsfri38531</string>
	<key>票券</key>
	<string>alsfri38601</string>
	<key>節省時間</key>
	<string>alsfri30740</string>
	<key>維護隱私和安全</key>
	<string>alsfri20920</string>
	<key>網站</key>
	<string>alsfri12740</string>
	<key>網路釣魚</key>
	<string>alsfri27614</string>
	<key>網頁</key>
	<string>alsfri12739</string>
	<key>網頁封存</key>
	<string>alsfri11001</string>
	<key>網頁搜尋</key>
	<string>alsfri12744</string>
	<key>縮放</key>
	<string>alsfri30905</string>
	<key>自動填寫</key>
	<string>alsfri10992</string>
	<key>自動填寫表單或密碼的問題</key>
	<string>alsfri12800</string>
	<key>自定safari</key>
	<string>alsfri12727</string>
	<key>表單</key>
	<string>alsfri10199</string>
	<key>視窗</key>
	<string>alsfri12743</string>
	<key>解決問題</key>
	<string>alsfri30741</string>
	<key>記錄</key>
	<string>alsfri12726</string>
	<key>設定safari</key>
	<string>alsfri10198</string>
	<key>語言偏好設定</key>
	<string>alsfri12761</string>
	<key>讀取網頁的問題</key>
	<string>alsfri12802</string>
	<key>資料庫</key>
	<string>alsfri26747</string>
	<key>輔助使用</key>
	<string>alsfri12731</string>
	<key>輸入書籤</key>
	<string>alsfri10998</string>
	<key>輸出書籤</key>
	<string>alsfri10999</string>
	<key>通知</key>
	<string>alsfri38421</string>
	<key>通知中心</key>
	<string>alsfri38420</string>
	<key>通訊錄</key>
	<string>alsfri18211</string>
	<key>連結</key>
	<string>alsfri12737</string>
	<key>選集</key>
	<string>alsfri51030</string>
	<key>郵寄網頁</key>
	<string>alsfri11002</string>
	<key>重置safari</key>
	<string>alsfri17878</string>
	<key>鍵盤</key>
	<string>alsfri12791</string>
	<key>鎖頭圖像</key>
	<string>alsfri12780</string>
	<key>開發者資訊</key>
	<string>alsfri12732</string>
	<key>閱讀列表</key>
	<string>alsfri35372</string>
	<key>閱讀器</key>
	<string>alsfri33419</string>
	<key>阻擋</key>
	<string>alsfri12765</string>
	<key>隱私</key>
	<string>alsfri12730</string>
	<key>隱私和安全性</key>
	<string>alsfri30739</string>
	<key>首頁</key>
	<string>alsfri12748</string>
</dict>
</plist>
