<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adressebog</key>
	<string>alsfri18211</string>
	<key>anonymitet</key>
	<string>alsfri12730</string>
	<key>anonymitetogsikkerhed</key>
	<string>alsfri30739</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>arkiverewebsider</key>
	<string>alsfri11545</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>autoudfyld</key>
	<string>alsfri10992</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>beskeder</key>
	<string>alsfri51033</string>
	<key>billeder</key>
	<string>alsfri12768</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>blokere</key>
	<string>alsfri12765</string>
	<key>bogmærkelinje</key>
	<string>alsfri12751</string>
	<key>bogmærkemenu</key>
	<string>alsfri12752</string>
	<key>bogmærker</key>
	<string>alsfri10197</string>
	<key>bogmærkerfejlfinding</key>
	<string>alsfri20883</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>browservindue</key>
	<string>alsfri12741</string>
	<key>buffer</key>
	<string>alsfri12760</string>
	<key>børnesikring</key>
	<string>alsfri10997</string>
	<key>certifikater</key>
	<string>alsfri12773</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>databaser</key>
	<string>alsfri26747</string>
	<key>digitalecertifikater</key>
	<string>alsfri12774</string>
	<key>eksporterebogmærker</key>
	<string>alsfri10999</string>
	<key>ekstravinduer</key>
	<string>alsfri12766</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>faner</key>
	<string>alsfri10996</string>
	<key>feedback</key>
	<string>alsfri20882</string>
	<key>fejlfinding</key>
	<string>alsfri12810</string>
	<key>findewebsider</key>
	<string>alsfri10178</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>formatark</key>
	<string>alsfri12769</string>
	<key>formularer</key>
	<string>alsfri10199</string>
	<key>fuldskærm</key>
	<string>alsfri35371</string>
	<key>gennemse</key>
	<string>alsfri10161</string>
	<key>gennemsefejlfinding</key>
	<string>alsfri20881</string>
	<key>genveje</key>
	<string>alsfri11014</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafik</key>
	<string>alsfri12811</string>
	<key>hente</key>
	<string>alsfri10200</string>
	<key>historie</key>
	<string>alsfri12726</string>
	<key>hjemmeside</key>
	<string>alsfri12748</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>importerebogmærker</key>
	<string>alsfri10998</string>
	<key>indstillesafari</key>
	<string>alsfri10198</string>
	<key>indstillinger</key>
	<string>alsfri12781</string>
	<key>international</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>kort</key>
	<string>alsfri38601</string>
	<key>links</key>
	<string>alsfri12737</string>
	<key>lokalitetslinje</key>
	<string>alsfri12753</string>
	<key>låsesymbol</key>
	<string>alsfri12780</string>
	<key>læseliste</key>
	<string>alsfri35372</string>
	<key>læser</key>
	<string>alsfri33419</string>
	<key>løseproblemer</key>
	<string>alsfri30741</string>
	<key>meddelelser</key>
	<string>alsfri38421</string>
	<key>meddelelsescenter</key>
	<string>alsfri38420</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigerepånettet</key>
	<string>alsfri20919</string>
	<key>navigerogsøg</key>
	<string>alsfri30738</string>
	<key>nulstillesafari</key>
	<string>alsfri17878</string>
	<key>oplysningertiludviklere</key>
	<string>alsfri12732</string>
	<key>opretholdeanonymitetogsikkerhed</key>
	<string>alsfri20920</string>
	<key>organiserebogmærker</key>
	<string>alsfri12755</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdfdokumenter</key>
	<string>alsfri11546</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>powerpctilbehør</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>problemermedathentearkiver</key>
	<string>alsfri12804</string>
	<key>problemermedatlæsewebsider</key>
	<string>alsfri12802</string>
	<key>problemermedatudfyldeformularerellersikkerhedskoderautomatisk</key>
	<string>alsfri12800</string>
	<key>problemermedatåbnewebsiderellerwebsteder</key>
	<string>alsfri12801</string>
	<key>problemermedbogmærker</key>
	<string>alsfri12803</string>
	<key>problemermedsøgefeltetellersøgninger</key>
	<string>alsfri12807</string>
	<key>problemermedtilbehør</key>
	<string>alsfri12806</string>
	<key>proxyserver</key>
	<string>alsfri12770</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safarisindstillinger</key>
	<string>alsfri12782</string>
	<key>safarivindue</key>
	<string>alsfri12742</string>
	<key>samlinger</key>
	<string>alsfri51030</string>
	<key>sendesidermedmail</key>
	<string>alsfri11002</string>
	<key>sendewebsidermedmail</key>
	<string>alsfri12778</string>
	<key>sikkerhed</key>
	<string>alsfri10201</string>
	<key>skrifter</key>
	<string>alsfri12764</string>
	<key>sletning</key>
	<string>alsfri12821</string>
	<key>slette</key>
	<string>alsfri19651</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>sparetid</key>
	<string>alsfri30740</string>
	<key>sprogindstilling</key>
	<string>alsfri12761</string>
	<key>synkronisere</key>
	<string>alsfri12771</string>
	<key>søge</key>
	<string>alsfri12729</string>
	<key>tastatur</key>
	<string>alsfri12791</string>
	<key>tekstkodning</key>
	<string>alsfri12762</string>
	<key>tekststørrelse</key>
	<string>alsfri12763</string>
	<key>tilbehør</key>
	<string>alsfri12733</string>
	<key>tilgængelighed</key>
	<string>alsfri12731</string>
	<key>tilpassesafari</key>
	<string>alsfri12727</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>udvidelser</key>
	<string>alsfri33070</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>vinduer</key>
	<string>alsfri12743</string>
	<key>værktøjslinje</key>
	<string>alsfri12750</string>
	<key>webarkiver</key>
	<string>alsfri11001</string>
	<key>websider</key>
	<string>alsfri12739</string>
	<key>websted</key>
	<string>alsfri12740</string>
	<key>websøgning</key>
	<string>alsfri12744</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zoome</key>
	<string>alsfri30905</string>
</dict>
</plist>
