<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>cookie</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>messages</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdfファイル</key>
	<string>alsfri11546</string>
	<key>powerpcプラグイン</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safariの環境設定</key>
	<string>alsfri12782</string>
	<key>safariをカスタマイズする</key>
	<string>alsfri12727</string>
	<key>safariをリセットする</key>
	<string>alsfri17878</string>
	<key>safariを設定する</key>
	<string>alsfri10198</string>
	<key>safariウインドウ</key>
	<string>alsfri12742</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>webをナビゲートする</key>
	<string>alsfri20919</string>
	<key>webアーカイブ</key>
	<string>alsfri11001</string>
	<key>webサイト</key>
	<string>alsfri12740</string>
	<key>webページ</key>
	<string>alsfri12739</string>
	<key>webページをメールで送信する</key>
	<string>alsfri12778</string>
	<key>webページを保存する</key>
	<string>alsfri11545</string>
	<key>webページを検索する</key>
	<string>alsfri10178</string>
	<key>webページを読むときの問題</key>
	<string>alsfri12802</string>
	<key>webページを開くときの問題</key>
	<string>alsfri12801</string>
	<key>web検索</key>
	<string>alsfri12744</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>アドレスブック</key>
	<string>alsfri18211</string>
	<key>アンチフィッシング</key>
	<string>alsfri27219</string>
	<key>ウインドウ</key>
	<string>alsfri12743</string>
	<key>カギのアイコン</key>
	<string>alsfri12780</string>
	<key>キャッシュ</key>
	<string>alsfri12760</string>
	<key>キーボード</key>
	<string>alsfri12791</string>
	<key>グラフィックス</key>
	<string>alsfri12811</string>
	<key>コレクション</key>
	<string>alsfri51030</string>
	<key>ショートカット</key>
	<string>alsfri11014</string>
	<key>スタイルシート</key>
	<string>alsfri12769</string>
	<key>ズーム機能ズーム拡大縮小大きく小さく</key>
	<string>alsfri30905</string>
	<key>セキュリティ保護安全確保防護</key>
	<string>alsfri10201</string>
	<key>タブ</key>
	<string>alsfri10996</string>
	<key>ダウンロードする</key>
	<string>alsfri10200</string>
	<key>ツールバー</key>
	<string>alsfri12750</string>
	<key>テキストエンコーディング</key>
	<string>alsfri12762</string>
	<key>テキストサイズ</key>
	<string>alsfri12763</string>
	<key>デジタル証明書</key>
	<string>alsfri12774</string>
	<key>データベース</key>
	<string>alsfri26747</string>
	<key>トラブルシューティング</key>
	<string>alsfri12810</string>
	<key>ナビゲートおよび検索</key>
	<string>alsfri30738</string>
	<key>パス</key>
	<string>alsfri38601</string>
	<key>ファイルのダウンロードの問題</key>
	<string>alsfri12804</string>
	<key>フィッシング</key>
	<string>alsfri27614</string>
	<key>フィードバック</key>
	<string>alsfri20882</string>
	<key>フォント</key>
	<string>alsfri12764</string>
	<key>フォーム</key>
	<string>alsfri10199</string>
	<key>フォームまたはパスワードの自動入力の問題</key>
	<string>alsfri12800</string>
	<key>フルスクリーン</key>
	<string>alsfri35371</string>
	<key>ブックマーク</key>
	<string>alsfri10197</string>
	<key>ブックマークの問題</key>
	<string>alsfri12803</string>
	<key>ブックマークを整理する</key>
	<string>alsfri12755</string>
	<key>ブックマークを書き出す</key>
	<string>alsfri10999</string>
	<key>ブックマークを読み込む</key>
	<string>alsfri10998</string>
	<key>ブックマークトラブルシューティング</key>
	<string>alsfri20883</string>
	<key>ブックマークバー</key>
	<string>alsfri12751</string>
	<key>ブックマークメニュー</key>
	<string>alsfri12752</string>
	<key>ブラウザウインドウ</key>
	<string>alsfri12741</string>
	<key>ブラウズする</key>
	<string>alsfri10161</string>
	<key>ブラウズするトラブルシューティング</key>
	<string>alsfri20881</string>
	<key>ブロックする</key>
	<string>alsfri12765</string>
	<key>プライバシー</key>
	<string>alsfri12730</string>
	<key>プライバシーおよびセキュリティ</key>
	<string>alsfri30739</string>
	<key>プライバシーおよびセキュリティを維持する</key>
	<string>alsfri20920</string>
	<key>プラグイン</key>
	<string>alsfri12733</string>
	<key>プラグインの問題</key>
	<string>alsfri12806</string>
	<key>プロキシサーバ</key>
	<string>alsfri12770</string>
	<key>ペアレンタルコントロール</key>
	<string>alsfri10997</string>
	<key>ページをメールで送信する</key>
	<string>alsfri11002</string>
	<key>ホームページ</key>
	<string>alsfri12748</string>
	<key>ポップアップウインドウ</key>
	<string>alsfri12766</string>
	<key>ユーザ補助</key>
	<string>alsfri12731</string>
	<key>リンク</key>
	<string>alsfri12737</string>
	<key>リーダー</key>
	<string>alsfri33419</string>
	<key>リーディングリスト</key>
	<string>alsfri35372</string>
	<key>ロケーションバー</key>
	<string>alsfri12753</string>
	<key>削除する</key>
	<string>alsfri19651</string>
	<key>同期する</key>
	<string>alsfri12771</string>
	<key>問題を解決する</key>
	<string>alsfri30741</string>
	<key>履歴</key>
	<string>alsfri12726</string>
	<key>時間を節約する</key>
	<string>alsfri30740</string>
	<key>検索する</key>
	<string>alsfri12729</string>
	<key>検索フィールドまたは検索の問題</key>
	<string>alsfri12807</string>
	<key>機能拡張</key>
	<string>alsfri33070</string>
	<key>環境設定初期設定</key>
	<string>alsfri12781</string>
	<key>画像</key>
	<string>alsfri12768</string>
	<key>自動入力</key>
	<string>alsfri10992</string>
	<key>言語環境</key>
	<string>alsfri12772</string>
	<key>言語環境設定</key>
	<string>alsfri12761</string>
	<key>証明書</key>
	<string>alsfri12773</string>
	<key>通知</key>
	<string>alsfri38421</string>
	<key>通知センター</key>
	<string>alsfri38420</string>
	<key>開発者情報</key>
	<string>alsfri12732</string>
</dict>
</plist>
