<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviazioni</key>
	<string>alsfri11014</string>
	<key>accessibilità</key>
	<string>alsfri12731</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>archivioweb</key>
	<string>alsfri11001</string>
	<key>atuttoschermo</key>
	<string>alsfri35371</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>barradeglistrumenti</key>
	<string>alsfri12750</string>
	<key>barradeisegnalibri</key>
	<string>alsfri12751</string>
	<key>barraposizione</key>
	<string>alsfri12753</string>
	<key>biglietti</key>
	<string>alsfri38601</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bloccare</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>cancellare</key>
	<string>alsfri12821</string>
	<key>centronotifiche</key>
	<string>alsfri38420</string>
	<key>cercare</key>
	<string>alsfri12729</string>
	<key>cercarepagineweb</key>
	<string>alsfri10178</string>
	<key>certificati</key>
	<string>alsfri12773</string>
	<key>certificatidigitali</key>
	<string>alsfri12774</string>
	<key>codificatesto</key>
	<string>alsfri12762</string>
	<key>configuraresafari</key>
	<string>alsfri10198</string>
	<key>controllicensura</key>
	<string>alsfri10997</string>
	<key>cookie</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>cronologia</key>
	<string>alsfri12726</string>
	<key>database</key>
	<string>alsfri26747</string>
	<key>dimensionetesto</key>
	<string>alsfri12763</string>
	<key>elencolettura</key>
	<string>alsfri35372</string>
	<key>eliminare</key>
	<string>alsfri19651</string>
	<key>esportaresegnalibri</key>
	<string>alsfri10999</string>
	<key>estensioni</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>feedback</key>
	<string>alsfri20882</string>
	<key>filepdf</key>
	<string>alsfri11546</string>
	<key>finestra</key>
	<string>alsfri12743</string>
	<key>finestraacomparsa</key>
	<string>alsfri12766</string>
	<key>finestrabrowser</key>
	<string>alsfri12741</string>
	<key>finestrasafari</key>
	<string>alsfri12742</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fogliodistile</key>
	<string>alsfri12769</string>
	<key>font</key>
	<string>alsfri12764</string>
	<key>forme</key>
	<string>alsfri10199</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafica</key>
	<string>alsfri12811</string>
	<key>homepage</key>
	<string>alsfri12748</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>iconalucchetto</key>
	<string>alsfri12780</string>
	<key>immagini</key>
	<string>alsfri12768</string>
	<key>importaresegnalibri</key>
	<string>alsfri10998</string>
	<key>informazionisviluppatore</key>
	<string>alsfri12732</string>
	<key>internazionale</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>inviarepagineviamail</key>
	<string>alsfri11002</string>
	<key>inviarepaginewebviaemail</key>
	<string>alsfri12778</string>
	<key>link</key>
	<string>alsfri12737</string>
	<key>manteneresicurezzaeprivacy</key>
	<string>alsfri20920</string>
	<key>menusegnalibri</key>
	<string>alsfri12752</string>
	<key>messaggi</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigare</key>
	<string>alsfri10161</string>
	<key>navigareecercare</key>
	<string>alsfri30738</string>
	<key>navigarerisoluzionedeiproblemi</key>
	<string>alsfri20881</string>
	<key>navigaresulweb</key>
	<string>alsfri20919</string>
	<key>notifiche</key>
	<string>alsfri38421</string>
	<key>organizzareisegnalibri</key>
	<string>alsfri12755</string>
	<key>pagineweb</key>
	<string>alsfri12739</string>
	<key>pannelli</key>
	<string>alsfri10996</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>personalizzaresafari</key>
	<string>alsfri12727</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>plugin</key>
	<string>alsfri12733</string>
	<key>pluginpowerpc</key>
	<string>alsfri12783</string>
	<key>preferenze</key>
	<string>alsfri12781</string>
	<key>preferenzelingua</key>
	<string>alsfri12761</string>
	<key>preferenzesafari</key>
	<string>alsfri12782</string>
	<key>preferiti</key>
	<string>alsfri10197</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>privacy</key>
	<string>alsfri12730</string>
	<key>privacyesicurezza</key>
	<string>alsfri30739</string>
	<key>problemiconiplugin</key>
	<string>alsfri12806</string>
	<key>problemiconisegnalibri</key>
	<string>alsfri12803</string>
	<key>problemidiaperturadipaginewebositiweb</key>
	<string>alsfri12801</string>
	<key>problemidiletturadellepagineweb</key>
	<string>alsfri12802</string>
	<key>problemidiricercaoconilcampodiricerca</key>
	<string>alsfri12807</string>
	<key>problemidiriempimentoautomaticomoduliopassword</key>
	<string>alsfri12800</string>
	<key>probleminelloscaricamentodeifile</key>
	<string>alsfri12804</string>
	<key>raccolte</key>
	<string>alsfri51030</string>
	<key>reader</key>
	<string>alsfri33419</string>
	<key>ricercaweb</key>
	<string>alsfri12744</string>
	<key>riempimentoautomatico</key>
	<string>alsfri10992</string>
	<key>ripristinaresafari</key>
	<string>alsfri17878</string>
	<key>risoluzionedeiproblemi</key>
	<string>alsfri12810</string>
	<key>risolvereiproblemi</key>
	<string>alsfri30741</string>
	<key>risparmiaretempo</key>
	<string>alsfri30740</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>rubricaindirizzi</key>
	<string>alsfri18211</string>
	<key>salvarepagineweb</key>
	<string>alsfri11545</string>
	<key>scaricare</key>
	<string>alsfri10200</string>
	<key>segnalibririsoluzionedeiproblemi</key>
	<string>alsfri20883</string>
	<key>serverproxy</key>
	<string>alsfri12770</string>
	<key>sicurezza</key>
	<string>alsfri10201</string>
	<key>sincronizzare</key>
	<string>alsfri12771</string>
	<key>sitoweb</key>
	<string>alsfri12740</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>tastiera</key>
	<string>alsfri12791</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zoom</key>
	<string>alsfri30905</string>
</dict>
</plist>
