<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdf파일</key>
	<string>alsfri11546</string>
	<key>powerpc플러그인</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safari사용자화하기</key>
	<string>alsfri12727</string>
	<key>safari설정하기</key>
	<string>alsfri10198</string>
	<key>safari윈도우</key>
	<string>alsfri12742</string>
	<key>safari재설정하기</key>
	<string>alsfri17878</string>
	<key>safari환경설정</key>
	<string>alsfri12782</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>개발자정보</key>
	<string>alsfri12732</string>
	<key>개인정보</key>
	<string>alsfri12730</string>
	<key>개인정보및보안</key>
	<string>alsfri30739</string>
	<key>개인정보및보안유지하기</key>
	<string>alsfri20920</string>
	<key>검색필드또는검색문제</key>
	<string>alsfri12807</string>
	<key>검색하기</key>
	<string>alsfri12729</string>
	<key>국제</key>
	<string>alsfri12772</string>
	<key>그래픽</key>
	<string>alsfri12811</string>
	<key>기록</key>
	<string>alsfri12726</string>
	<key>다운로드하기</key>
	<string>alsfri10200</string>
	<key>단축키</key>
	<string>alsfri11014</string>
	<key>데이터베이스</key>
	<string>alsfri26747</string>
	<key>도구막대</key>
	<string>alsfri12750</string>
	<key>동기화하기</key>
	<string>alsfri12771</string>
	<key>디지털인증서</key>
	<string>alsfri12774</string>
	<key>링크</key>
	<string>alsfri12737</string>
	<key>메시지</key>
	<string>alsfri51033</string>
	<key>모음</key>
	<string>alsfri51030</string>
	<key>문제해결</key>
	<string>alsfri12810</string>
	<key>문제해결하기</key>
	<string>alsfri30741</string>
	<key>보안</key>
	<string>alsfri10201</string>
	<key>브라우저윈도우</key>
	<string>alsfri12741</string>
	<key>브라우징</key>
	<string>alsfri10161</string>
	<key>브라우징문제해결</key>
	<string>alsfri20881</string>
	<key>삭제하기</key>
	<string>alsfri19651</string>
	<key>서체</key>
	<string>alsfri12764</string>
	<key>손쉬운사용</key>
	<string>alsfri12731</string>
	<key>스타일시트</key>
	<string>alsfri12769</string>
	<key>시간절약하기</key>
	<string>alsfri30740</string>
	<key>안티피싱</key>
	<string>alsfri27219</string>
	<key>알림</key>
	<string>alsfri38421</string>
	<key>알림센터</key>
	<string>alsfri38420</string>
	<key>양식</key>
	<string>alsfri10199</string>
	<key>양식또는암호자동완성문제</key>
	<string>alsfri12800</string>
	<key>언어환경설정</key>
	<string>alsfri12761</string>
	<key>웹검색</key>
	<string>alsfri12744</string>
	<key>웹사이트</key>
	<string>alsfri12740</string>
	<key>웹아카이브</key>
	<string>alsfri11001</string>
	<key>웹탐색하기</key>
	<string>alsfri20919</string>
	<key>웹페이지</key>
	<string>alsfri12739</string>
	<key>웹페이지또는웹사이트열기문제</key>
	<string>alsfri12801</string>
	<key>웹페이지이메일로보내기</key>
	<string>alsfri12778</string>
	<key>웹페이지읽기문제</key>
	<string>alsfri12802</string>
	<key>웹페이지저장하기</key>
	<string>alsfri11545</string>
	<key>웹페이지찾기</key>
	<string>alsfri10178</string>
	<key>위치막대</key>
	<string>alsfri12753</string>
	<key>윈도우</key>
	<string>alsfri12743</string>
	<key>유해콘텐츠차단</key>
	<string>alsfri10997</string>
	<key>이미지</key>
	<string>alsfri12768</string>
	<key>인증서</key>
	<string>alsfri12773</string>
	<key>읽기도구</key>
	<string>alsfri33419</string>
	<key>읽기목록</key>
	<string>alsfri35372</string>
	<key>자동완성</key>
	<string>alsfri10992</string>
	<key>잠금아이콘</key>
	<string>alsfri12780</string>
	<key>전체화면</key>
	<string>alsfri35371</string>
	<key>주소록</key>
	<string>alsfri18211</string>
	<key>지움</key>
	<string>alsfri12821</string>
	<key>차단하기</key>
	<string>alsfri12765</string>
	<key>책갈피</key>
	<string>alsfri10197</string>
	<key>책갈피가져오기</key>
	<string>alsfri10998</string>
	<key>책갈피구성하기</key>
	<string>alsfri12755</string>
	<key>책갈피막대</key>
	<string>alsfri12751</string>
	<key>책갈피메뉴</key>
	<string>alsfri12752</string>
	<key>책갈피문제</key>
	<string>alsfri12803</string>
	<key>책갈피문제해결</key>
	<string>alsfri20883</string>
	<key>책갈피보내기</key>
	<string>alsfri10999</string>
	<key>캐시</key>
	<string>alsfri12760</string>
	<key>쿠키</key>
	<string>alsfri12767</string>
	<key>키보드</key>
	<string>alsfri12791</string>
	<key>탐색및검색하기</key>
	<string>alsfri30738</string>
	<key>탭</key>
	<string>alsfri10996</string>
	<key>텍스트인코딩</key>
	<string>alsfri12762</string>
	<key>텍스트크기</key>
	<string>alsfri12763</string>
	<key>트위터</key>
	<string>alsfri51032</string>
	<key>파일다운로드문제</key>
	<string>alsfri12804</string>
	<key>팝업윈도우</key>
	<string>alsfri12766</string>
	<key>패스</key>
	<string>alsfri38601</string>
	<key>페이지메일로보내기</key>
	<string>alsfri11002</string>
	<key>프록시서버</key>
	<string>alsfri12770</string>
	<key>플러그인</key>
	<string>alsfri12733</string>
	<key>플러그인문제</key>
	<string>alsfri12806</string>
	<key>피드백</key>
	<string>alsfri20882</string>
	<key>피싱</key>
	<string>alsfri27614</string>
	<key>홈페이지</key>
	<string>alsfri12748</string>
	<key>확대축소하기</key>
	<string>alsfri30905</string>
	<key>확장프로그램</key>
	<string>alsfri33070</string>
	<key>환경설정</key>
	<string>alsfri12781</string>
</dict>
</plist>
