<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ablakok</key>
	<string>alsfri12743</string>
	<key>adatbázisok</key>
	<string>alsfri26747</string>
	<key>adathalászat</key>
	<string>alsfri27614</string>
	<key>adatvédelem</key>
	<string>alsfri12730</string>
	<key>adatvédelemésbiztonság</key>
	<string>alsfri30739</string>
	<key>asafaribeállítása</key>
	<string>alsfri10198</string>
	<key>automatikuskitöltés</key>
	<string>alsfri10992</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>betűtípusok</key>
	<string>alsfri12764</string>
	<key>beállítások</key>
	<string>alsfri12781</string>
	<key>beépülőmodulok</key>
	<string>alsfri12733</string>
	<key>billentyűzet</key>
	<string>alsfri12791</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>biztonság</key>
	<string>alsfri10201</string>
	<key>blokkolás</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>böngészés</key>
	<string>alsfri10161</string>
	<key>böngészéshibaelhárítás</key>
	<string>alsfri20881</string>
	<key>böngészőablak</key>
	<string>alsfri12741</string>
	<key>bővítmények</key>
	<string>alsfri33070</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>címjegyzék</key>
	<string>alsfri18211</string>
	<key>címsor</key>
	<string>alsfri12753</string>
	<key>digitálistanúsítványok</key>
	<string>alsfri12774</string>
	<key>előzmények</key>
	<string>alsfri12726</string>
	<key>eszköztár</key>
	<string>alsfri12750</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>fejlesztőiinformációk</key>
	<string>alsfri12732</string>
	<key>felugróablakok</key>
	<string>alsfri12766</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fülek</key>
	<string>alsfri10996</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafika</key>
	<string>alsfri12811</string>
	<key>gyorsítótár</key>
	<string>alsfri12760</string>
	<key>gyűjtemények</key>
	<string>alsfri51030</string>
	<key>hibaelhárítás</key>
	<string>alsfri12810</string>
	<key>hivatkozások</key>
	<string>alsfri11014</string>
	<key>honlap</key>
	<string>alsfri12748</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>időmegtakarítás</key>
	<string>alsfri30740</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>jelszók</key>
	<string>alsfri38601</string>
	<key>keresés</key>
	<string>alsfri12729</string>
	<key>kisegítőlehetőségek</key>
	<string>alsfri12731</string>
	<key>képek</key>
	<string>alsfri12768</string>
	<key>könyvjelzők</key>
	<string>alsfri10197</string>
	<key>könyvjelzőkexportálása</key>
	<string>alsfri10999</string>
	<key>könyvjelzőkhibaelhárítás</key>
	<string>alsfri20883</string>
	<key>könyvjelzőkimportálása</key>
	<string>alsfri10998</string>
	<key>könyvjelzőkrendszerezése</key>
	<string>alsfri12755</string>
	<key>könyvjelzőmenü</key>
	<string>alsfri12752</string>
	<key>könyvjelzősor</key>
	<string>alsfri12751</string>
	<key>lakatikon</key>
	<string>alsfri12780</string>
	<key>letöltés</key>
	<string>alsfri10200</string>
	<key>linkek</key>
	<string>alsfri12737</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>nagyítás</key>
	<string>alsfri30905</string>
	<key>navigálásaweben</key>
	<string>alsfri20919</string>
	<key>navigáláséskeresés</key>
	<string>alsfri30738</string>
	<key>nemzetközi</key>
	<string>alsfri12772</string>
	<key>nyelvipreferencia</key>
	<string>alsfri12761</string>
	<key>oldalakküldéseemailben</key>
	<string>alsfri11002</string>
	<key>olvasásilista</key>
	<string>alsfri35372</string>
	<key>olvasó</key>
	<string>alsfri33419</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdffájlok</key>
	<string>alsfri11546</string>
	<key>powerpcplugin</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>problémákabeépülőmodulokkal</key>
	<string>alsfri12806</string>
	<key>problémákafájlokletöltésével</key>
	<string>alsfri12804</string>
	<key>problémákakeresésimezővelvagykereséssel</key>
	<string>alsfri12807</string>
	<key>problémákakönyvjelzőkkel</key>
	<string>alsfri12803</string>
	<key>problémákaweboldalakolvasásakor</key>
	<string>alsfri12802</string>
	<key>problémákaweboldalakvagywebhelyekmegnyitásakor</key>
	<string>alsfri12801</string>
	<key>problémákmegoldása</key>
	<string>alsfri30741</string>
	<key>problémákűrlapokvagyjelszókautomatikuskitöltésekor</key>
	<string>alsfri12800</string>
	<key>proxyszerver</key>
	<string>alsfri12770</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safariablak</key>
	<string>alsfri12742</string>
	<key>safaribeállítások</key>
	<string>alsfri12782</string>
	<key>safaritestreszabása</key>
	<string>alsfri12727</string>
	<key>safarivisszaállítása</key>
	<string>alsfri17878</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>stíluslap</key>
	<string>alsfri12769</string>
	<key>szinkronizálás</key>
	<string>alsfri12771</string>
	<key>szövegkódolás</key>
	<string>alsfri12762</string>
	<key>szövegméret</key>
	<string>alsfri12763</string>
	<key>szülőifelügyelet</key>
	<string>alsfri10997</string>
	<key>sütik</key>
	<string>alsfri12767</string>
	<key>tanúsítványok</key>
	<string>alsfri12773</string>
	<key>teljesképernyő</key>
	<string>alsfri35371</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>törlés</key>
	<string>alsfri19651</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>visszajelzés</key>
	<string>alsfri20882</string>
	<key>webarchívumok</key>
	<string>alsfri11001</string>
	<key>webeskeresés</key>
	<string>alsfri12744</string>
	<key>webhely</key>
	<string>alsfri12740</string>
	<key>weboldalak</key>
	<string>alsfri12739</string>
	<key>weboldalakkeresése</key>
	<string>alsfri10178</string>
	<key>weboldalakküldéseemailben</key>
	<string>alsfri12778</string>
	<key>weboldalakmentése</key>
	<string>alsfri11545</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>értesítések</key>
	<string>alsfri38421</string>
	<key>értesítésiközpont</key>
	<string>alsfri38420</string>
	<key>ürítés</key>
	<string>alsfri12821</string>
	<key>üzenetek</key>
	<string>alsfri51033</string>
	<key>űrlapok</key>
	<string>alsfri10199</string>
</dict>
</plist>
