<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adresboek</key>
	<string>alsfri18211</string>
	<key>afbeeldingen</key>
	<string>alsfri12768</string>
	<key>afdrukken</key>
	<string>alsfri11000</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>automatiseren</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>berichten</key>
	<string>alsfri51033</string>
	<key>berichtencentrum</key>
	<string>alsfri38420</string>
	<key>beveiliging</key>
	<string>alsfri10201</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bladeren</key>
	<string>alsfri10161</string>
	<key>bladerenproblemenoplossen</key>
	<string>alsfri20881</string>
	<key>bladwijzerbalk</key>
	<string>alsfri12751</string>
	<key>bladwijzers</key>
	<string>alsfri10197</string>
	<key>bladwijzersexporteren</key>
	<string>alsfri10999</string>
	<key>bladwijzersimporteren</key>
	<string>alsfri10998</string>
	<key>bladwijzersmenu</key>
	<string>alsfri12752</string>
	<key>bladwijzersordenen</key>
	<string>alsfri12755</string>
	<key>bladwijzersproblemenoplossen</key>
	<string>alsfri20883</string>
	<key>blokkeren</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>browservenster</key>
	<string>alsfri12741</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>certificaten</key>
	<string>alsfri12773</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>databases</key>
	<string>alsfri26747</string>
	<key>digitalecertificaten</key>
	<string>alsfri12774</string>
	<key>downloaden</key>
	<string>alsfri10200</string>
	<key>extensies</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>feedback</key>
	<string>alsfri20882</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>formulieren</key>
	<string>alsfri10199</string>
	<key>geschiedenis</key>
	<string>alsfri12726</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafischmateriaal</key>
	<string>alsfri12811</string>
	<key>hangslotsymbool</key>
	<string>alsfri12780</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>informatievoorontwikkelaars</key>
	<string>alsfri12732</string>
	<key>internationaal</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>kaarten</key>
	<string>alsfri38601</string>
	<key>knoppenbalk</key>
	<string>alsfri12750</string>
	<key>koppelingen</key>
	<string>alsfri12737</string>
	<key>leeslijst</key>
	<string>alsfri35372</string>
	<key>lettertypen</key>
	<string>alsfri12764</string>
	<key>locatiebalk</key>
	<string>alsfri12753</string>
	<key>meldingen</key>
	<string>alsfri38421</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigerenenzoeken</key>
	<string>alsfri30738</string>
	<key>navigerenophetweb</key>
	<string>alsfri20919</string>
	<key>opmaaksjabloon</key>
	<string>alsfri12769</string>
	<key>ouderlijktoezicht</key>
	<string>alsfri10997</string>
	<key>paginasemailen</key>
	<string>alsfri11002</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>pdfbestanden</key>
	<string>alsfri11546</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>plugins</key>
	<string>alsfri12733</string>
	<key>popupvensters</key>
	<string>alsfri12766</string>
	<key>powerpcplugin</key>
	<string>alsfri12783</string>
	<key>privacy</key>
	<string>alsfri12730</string>
	<key>privacyenbeveiliging</key>
	<string>alsfri30739</string>
	<key>privacyenbeveiliginghandhaven</key>
	<string>alsfri20920</string>
	<key>problemenbijhetautomatischinvullenvanformulierenofwachtwoorden</key>
	<string>alsfri12800</string>
	<key>problemenbijhetdownloadenvanbestanden</key>
	<string>alsfri12804</string>
	<key>problemenbijhetlezenvanwebpaginas</key>
	<string>alsfri12802</string>
	<key>problemenbijhetopenenvanwebpaginasofwebsites</key>
	<string>alsfri12801</string>
	<key>problemenmetbladwijzers</key>
	<string>alsfri12803</string>
	<key>problemenmethetzoekveldofzoeken</key>
	<string>alsfri12807</string>
	<key>problemenmetplugins</key>
	<string>alsfri12806</string>
	<key>problemenoplossen</key>
	<string>alsfri12810</string>
	<key>proxyserver</key>
	<string>alsfri12770</string>
	<key>reader</key>
	<string>alsfri33419</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safariaanpassen</key>
	<string>alsfri12727</string>
	<key>safariconfigureren</key>
	<string>alsfri10198</string>
	<key>safariopnieuwinstellen</key>
	<string>alsfri17878</string>
	<key>safarivenster</key>
	<string>alsfri12742</string>
	<key>safarivoorkeuren</key>
	<string>alsfri12782</string>
	<key>schermvullend</key>
	<string>alsfri35371</string>
	<key>sets</key>
	<string>alsfri51030</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>startpagina</key>
	<string>alsfri12748</string>
	<key>synchroniseren</key>
	<string>alsfri12771</string>
	<key>taalvoorkeuren</key>
	<string>alsfri12761</string>
	<key>tabbladen</key>
	<string>alsfri10996</string>
	<key>tekstcodering</key>
	<string>alsfri12762</string>
	<key>tekstgrootte</key>
	<string>alsfri12763</string>
	<key>tijdbesparen</key>
	<string>alsfri30740</string>
	<key>toegankelijkheid</key>
	<string>alsfri12731</string>
	<key>toetscombinaties</key>
	<string>alsfri11014</string>
	<key>toetsenbord</key>
	<string>alsfri12791</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universeletoegang</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>vensters</key>
	<string>alsfri12743</string>
	<key>verwijderen</key>
	<string>alsfri19651</string>
	<key>voorkeuren</key>
	<string>alsfri12781</string>
	<key>wachtwoord</key>
	<string>alsfri12725</string>
	<key>webarchieven</key>
	<string>alsfri11001</string>
	<key>webpaginas</key>
	<string>alsfri12739</string>
	<key>webpaginasbewaren</key>
	<string>alsfri11545</string>
	<key>webpaginasemailen</key>
	<string>alsfri12778</string>
	<key>webpaginaszoeken</key>
	<string>alsfri10178</string>
	<key>website</key>
	<string>alsfri12740</string>
	<key>wissen</key>
	<string>alsfri12821</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zoekactie</key>
	<string>alsfri12729</string>
	<key>zoekenophetweb</key>
	<string>alsfri12744</string>
	<key>zoomen</key>
	<string>alsfri30905</string>
</dict>
</plist>
