<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>readerקורא</key>
	<string>alsfri33419</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo‎</key>
	<string>alsfri26749</string>
	<key>אבטחה</key>
	<string>alsfri10201</string>
	<key>אוספים</key>
	<string>alsfri51030</string>
	<key>איפוסsafari</key>
	<string>alsfri17878</string>
	<key>אישורים</key>
	<string>alsfri38601</string>
	<key>אישוריםדיגיטליים</key>
	<string>alsfri12774</string>
	<key>אנטידיוג</key>
	<string>alsfri27219</string>
	<key>ארכיוניאינטרנט</key>
	<string>alsfri11001</string>
	<key>אתראינטרנט</key>
	<string>alsfri12740</string>
	<key>בינלאומי</key>
	<string>alsfri12772</string>
	<key>בעיותבהורדתקבצים</key>
	<string>alsfri12804</string>
	<key>בעיותבמילויאוטומטישלטפסיםאוסיסמאות</key>
	<string>alsfri12800</string>
	<key>בעיותבסימניות</key>
	<string>alsfri12803</string>
	<key>בעיותבפתיחתעמודיאינטרנטאואתריאינטרנט</key>
	<string>alsfri12801</string>
	<key>בעיותבקריאתעמודיאינטרנט</key>
	<string>alsfri12802</string>
	<key>בעיותבשדההחיפושאובפעולתחיפוש</key>
	<string>alsfri12807</string>
	<key>בעיותבתוספים</key>
	<string>alsfri12806</string>
	<key>גודלמלל</key>
	<string>alsfri12763</string>
	<key>גופנים</key>
	<string>alsfri12764</string>
	<key>גיליוןסגנונות</key>
	<string>alsfri12769</string>
	<key>גלישה</key>
	<string>alsfri10161</string>
	<key>גלישהפתרוןבעיות</key>
	<string>alsfri20881</string>
	<key>גרפיקה</key>
	<string>alsfri12811</string>
	<key>דיוג</key>
	<string>alsfri27614</string>
	<key>הגדרתsafari</key>
	<string>alsfri10198</string>
	<key>הודעות</key>
	<string>alsfri51033</string>
	<key>הורדה</key>
	<string>alsfri10200</string>
	<key>העדפות</key>
	<string>alsfri12781</string>
	<key>העדפותsafari</key>
	<string>alsfri12782</string>
	<key>העדפתשפה</key>
	<string>alsfri12761</string>
	<key>הרחבות</key>
	<string>alsfri33070</string>
	<key>התאמהאישיתשלsafari</key>
	<string>alsfri12727</string>
	<key>התוסףpowerpc</key>
	<string>alsfri12783</string>
	<key>חיסכוןבזמן</key>
	<string>alsfri30740</string>
	<key>חיפוש</key>
	<string>alsfri12729</string>
	<key>חיפושבאינטרנט</key>
	<string>alsfri12744</string>
	<key>חיפושעמודיאינטרנט</key>
	<string>alsfri10178</string>
	<key>חלוןsafari</key>
	<string>alsfri12742</string>
	<key>חלוןדפדפן</key>
	<string>alsfri12741</string>
	<key>חלונות</key>
	<string>alsfri12743</string>
	<key>חלונותקופצניים</key>
	<string>alsfri12766</string>
	<key>חסימה</key>
	<string>alsfri12765</string>
	<key>טפסים</key>
	<string>alsfri10199</string>
	<key>ייבואסימניות</key>
	<string>alsfri10998</string>
	<key>ייצואסימניות</key>
	<string>alsfri10999</string>
	<key>יישומיplugin</key>
	<string>alsfri12733</string>
	<key>כליהבקרהשלהורים</key>
	<string>alsfri10997</string>
	<key>כרטיסיות</key>
	<string>alsfri10996</string>
	<key>להגדיללשנותגודללהקטיןשינויגודלתצוגה</key>
	<string>alsfri30905</string>
	<key>לחסוךבזמן</key>
	<string>alsfri12728</string>
	<key>לפתורבעיות</key>
	<string>alsfri30741</string>
	<key>מחיקה</key>
	<string>alsfri19651</string>
	<key>מטמון</key>
	<string>alsfri12760</string>
	<key>מידעלמפתחים</key>
	<string>alsfri12732</string>
	<key>מילויאוטומטי</key>
	<string>alsfri10992</string>
	<key>מסדינתונים</key>
	<string>alsfri26747</string>
	<key>מסךמלא</key>
	<string>alsfri35371</string>
	<key>מקלדת</key>
	<string>alsfri12791</string>
	<key>מרכזהעדכונים</key>
	<string>alsfri38420</string>
	<key>משוב</key>
	<string>alsfri20882</string>
	<key>נגישות</key>
	<string>alsfri12731</string>
	<key>ניווטבאינטרנט</key>
	<string>alsfri20919</string>
	<key>ניווטוחיפוש</key>
	<string>alsfri30738</string>
	<key>סידורסימניות</key>
	<string>alsfri12755</string>
	<key>סימניות</key>
	<string>alsfri10197</string>
	<key>סימניותפתרוןבעיות</key>
	<string>alsfri20883</string>
	<key>סנכרון</key>
	<string>alsfri12771</string>
	<key>סרגלהסימניות</key>
	<string>alsfri12751</string>
	<key>סרגלכלים</key>
	<string>alsfri12750</string>
	<key>סרגלמיקום</key>
	<string>alsfri12753</string>
	<key>עדכונים</key>
	<string>alsfri38421</string>
	<key>עוגיות</key>
	<string>alsfri12767</string>
	<key>עמודבית</key>
	<string>alsfri12748</string>
	<key>עמודיאינטרנט</key>
	<string>alsfri12739</string>
	<key>פנקסכתובות</key>
	<string>alsfri18211</string>
	<key>פרטיות</key>
	<string>alsfri12730</string>
	<key>פרטיותואבטחה</key>
	<string>alsfri30739</string>
	<key>פתירתבעיות</key>
	<string>alsfri12810</string>
	<key>צלמיתמנעול</key>
	<string>alsfri12780</string>
	<key>קובציpdf</key>
	<string>alsfri11546</string>
	<key>קידודמלל</key>
	<string>alsfri12762</string>
	<key>קיצורידרך</key>
	<string>alsfri11014</string>
	<key>קישורים</key>
	<string>alsfri12737</string>
	<key>רשימתהקריאה</key>
	<string>alsfri35372</string>
	<key>שליחתעמודיאינטרנטבדואל</key>
	<string>alsfri12778</string>
	<key>שליחתעמודיםבדואל</key>
	<string>alsfri11002</string>
	<key>שמירהעלפרטיותואבטחה</key>
	<string>alsfri20920</string>
	<key>שמירתעמודיאינטרנט</key>
	<string>alsfri11545</string>
	<key>שרתפרוקסי</key>
	<string>alsfri12770</string>
	<key>תמונות</key>
	<string>alsfri12768</string>
	<key>תפריטסימניות</key>
	<string>alsfri12752</string>
	<key>‏icloud</key>
	<string>alsfri38493</string>
	<key>‏היסטוריה</key>
	<string>alsfri12726</string>
</dict>
</plist>
