<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adressebok</key>
	<string>alsfri18211</string>
	<key>adresselinjen</key>
	<string>alsfri12753</string>
	<key>antinettfisking</key>
	<string>alsfri27219</string>
	<key>arkiverenettsider</key>
	<string>alsfri11545</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>autoutfyll</key>
	<string>alsfri10992</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bilder</key>
	<string>alsfri12768</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>blokkere</key>
	<string>alsfri12765</string>
	<key>bokmerkelinjen</key>
	<string>alsfri12751</string>
	<key>bokmerker</key>
	<string>alsfri10197</string>
	<key>bokmerkermenyen</key>
	<string>alsfri12752</string>
	<key>bokmerkerproblemløsing</key>
	<string>alsfri20883</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>buffer</key>
	<string>alsfri12760</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>databaser</key>
	<string>alsfri26747</string>
	<key>digitalesertifikater</key>
	<string>alsfri12774</string>
	<key>eksporterebokmerker</key>
	<string>alsfri10999</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>faner</key>
	<string>alsfri10996</string>
	<key>finnenettsider</key>
	<string>alsfri10178</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fonter</key>
	<string>alsfri12764</string>
	<key>foreldrekontroll</key>
	<string>alsfri10997</string>
	<key>fullskjerm</key>
	<string>alsfri35371</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafikk</key>
	<string>alsfri12811</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>importerebokmerker</key>
	<string>alsfri10998</string>
	<key>informasjonskapsler</key>
	<string>alsfri12767</string>
	<key>innstillinger</key>
	<string>alsfri12781</string>
	<key>internasjonalt</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>koblinger</key>
	<string>alsfri12737</string>
	<key>kort</key>
	<string>alsfri38601</string>
	<key>lastened</key>
	<string>alsfri10200</string>
	<key>leseliste</key>
	<string>alsfri35372</string>
	<key>leser</key>
	<string>alsfri33419</string>
	<key>logg</key>
	<string>alsfri12726</string>
	<key>låssymbol</key>
	<string>alsfri12780</string>
	<key>løseproblemer</key>
	<string>alsfri12810</string>
	<key>meldinger</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigereogsøke</key>
	<string>alsfri30738</string>
	<key>navigereproblemløsing</key>
	<string>alsfri20881</string>
	<key>navigerepåinternett</key>
	<string>alsfri20919</string>
	<key>nettarkiv</key>
	<string>alsfri11001</string>
	<key>nettfiske</key>
	<string>alsfri27614</string>
	<key>nettleservindu</key>
	<string>alsfri12741</string>
	<key>nettsider</key>
	<string>alsfri12739</string>
	<key>nettsted</key>
	<string>alsfri12740</string>
	<key>nettsøk</key>
	<string>alsfri12744</string>
	<key>nullstillesafari</key>
	<string>alsfri17878</string>
	<key>opprettholdepersonvernogsikkerhet</key>
	<string>alsfri20920</string>
	<key>organiserebokmerker</key>
	<string>alsfri12755</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdffiler</key>
	<string>alsfri11546</string>
	<key>personvern</key>
	<string>alsfri12730</string>
	<key>personvernogsikkerhet</key>
	<string>alsfri30739</string>
	<key>popupvinduer</key>
	<string>alsfri12766</string>
	<key>powerpcprogramtillegg</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>problemermedbokmerker</key>
	<string>alsfri12803</string>
	<key>problemermedprogramtillegg</key>
	<string>alsfri12806</string>
	<key>problemermedsøkefeltetellersøking</key>
	<string>alsfri12807</string>
	<key>problemermedåautoutfylleskjemaerogpassord</key>
	<string>alsfri12800</string>
	<key>problemermedålastenedfiler</key>
	<string>alsfri12804</string>
	<key>problemermedålesenettsider</key>
	<string>alsfri12802</string>
	<key>problemermedååpnenettsiderellernettsteder</key>
	<string>alsfri12801</string>
	<key>programtillegg</key>
	<string>alsfri12733</string>
	<key>proxytjener</key>
	<string>alsfri12770</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safarivalg</key>
	<string>alsfri12782</string>
	<key>safarivinduet</key>
	<string>alsfri12742</string>
	<key>samlinger</key>
	<string>alsfri51030</string>
	<key>sendenettsidermedepost</key>
	<string>alsfri12778</string>
	<key>sendesidermedepost</key>
	<string>alsfri11002</string>
	<key>sertifikater</key>
	<string>alsfri12773</string>
	<key>setteoppsafari</key>
	<string>alsfri10198</string>
	<key>sikkerhet</key>
	<string>alsfri10201</string>
	<key>skjemaer</key>
	<string>alsfri10199</string>
	<key>slette</key>
	<string>alsfri19651</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>snarveier</key>
	<string>alsfri11014</string>
	<key>sparetid</key>
	<string>alsfri30740</string>
	<key>språkvalg</key>
	<string>alsfri12761</string>
	<key>startside</key>
	<string>alsfri12748</string>
	<key>stilark</key>
	<string>alsfri12769</string>
	<key>surfe</key>
	<string>alsfri10161</string>
	<key>synkronisere</key>
	<string>alsfri12771</string>
	<key>søke</key>
	<string>alsfri12729</string>
	<key>tastatur</key>
	<string>alsfri12791</string>
	<key>tekstkoding</key>
	<string>alsfri12762</string>
	<key>tekststørrelse</key>
	<string>alsfri12763</string>
	<key>tilbakemelding</key>
	<string>alsfri20882</string>
	<key>tilgjengelighet</key>
	<string>alsfri12731</string>
	<key>tillegg</key>
	<string>alsfri33070</string>
	<key>tilpassesafari</key>
	<string>alsfri12727</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>utviklerinformasjon</key>
	<string>alsfri12732</string>
	<key>varsler</key>
	<string>alsfri38421</string>
	<key>varslingssenter</key>
	<string>alsfri38420</string>
	<key>verktøylinje</key>
	<string>alsfri12750</string>
	<key>vinduer</key>
	<string>alsfri12743</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zooming</key>
	<string>alsfri30905</string>
</dict>
</plist>
