<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>biểumẫu</key>
	<string>alsfri10199</string>
	<key>biểutượngkhóa</key>
	<string>alsfri12780</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>bànphím</key>
	<string>alsfri12791</string>
	<key>bảomật</key>
	<string>alsfri10201</string>
	<key>bộnhớđệm</key>
	<string>alsfri12760</string>
	<key>bộsưutập</key>
	<string>alsfri51030</string>
	<key>chặn</key>
	<string>alsfri12765</string>
	<key>chốnglừađảo</key>
	<string>alsfri27219</string>
	<key>chứngnhận</key>
	<string>alsfri12773</string>
	<key>chứngnhậnsố</key>
	<string>alsfri12774</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>cookie</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>cáchìnhảnh</key>
	<string>alsfri12768</string>
	<key>cácphímtắt</key>
	<string>alsfri11014</string>
	<key>cácphầnmởrộng</key>
	<string>alsfri33070</string>
	<key>cơsởdữliệu</key>
	<string>alsfri26747</string>
	<key>cửasổ</key>
	<string>alsfri12743</string>
	<key>cửasổbậtlên</key>
	<string>alsfri12766</string>
	<key>cửasổsafari</key>
	<string>alsfri12742</string>
	<key>cửasổtrìnhduyệt</key>
	<string>alsfri12741</string>
	<key>danhsáchđọc</key>
	<string>alsfri35372</string>
	<key>duytrìquyềnriêngtưvàbảomật</key>
	<string>alsfri20920</string>
	<key>duyệtkhắcphụcsựcố</key>
	<string>alsfri20881</string>
	<key>dấutrang</key>
	<string>alsfri10197</string>
	<key>dấutrangkhắcphụcsựcố</key>
	<string>alsfri20883</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>giảiquyếtsựcố</key>
	<string>alsfri30741</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>gửitrangquathư</key>
	<string>alsfri11002</string>
	<key>gửitrangwebquathư</key>
	<string>alsfri12778</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>khắcphụcsựcố</key>
	<string>alsfri12810</string>
	<key>kiểmsoátcủaphụhuynh</key>
	<string>alsfri10997</string>
	<key>kíchcỡvănbản</key>
	<string>alsfri12763</string>
	<key>liênkết</key>
	<string>alsfri12737</string>
	<key>lưutrangweb</key>
	<string>alsfri11545</string>
	<key>lưutrữweb</key>
	<string>alsfri11001</string>
	<key>lịchsử</key>
	<string>alsfri12726</string>
	<key>lừađảo</key>
	<string>alsfri27614</string>
	<key>menudấutrang</key>
	<string>alsfri12752</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>máychủproxy</key>
	<string>alsfri12770</string>
	<key>mãhóavănbản</key>
	<string>alsfri12762</string>
	<key>nhậpdấutrang</key>
	<string>alsfri10998</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>phíchcắmnguồnpc</key>
	<string>alsfri12783</string>
	<key>phôngchữ</key>
	<string>alsfri12764</string>
	<key>phảnhồi</key>
	<string>alsfri20882</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>quyềnriêngtư</key>
	<string>alsfri12730</string>
	<key>quyềnriêngtưvàbảomật</key>
	<string>alsfri30739</string>
	<key>quốctế</key>
	<string>alsfri12772</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>sổđịachỉ</key>
	<string>alsfri18211</string>
	<key>sựcốkhimởtrangweb</key>
	<string>alsfri12801</string>
	<key>sựcốkhitảivềtệp</key>
	<string>alsfri12804</string>
	<key>sựcốkhitựđộngđiềnbiểumẫuhoặcmậtkhẩu</key>
	<string>alsfri12800</string>
	<key>sựcốkhiđọctrangweb</key>
	<string>alsfri12802</string>
	<key>sựcốvớidấutrang</key>
	<string>alsfri12803</string>
	<key>sựcốvớitrìnhcắm</key>
	<string>alsfri12806</string>
	<key>sựcốvớitrườngtìmkiếmhoặcviệctìmkiếm</key>
	<string>alsfri12807</string>
	<key>tab</key>
	<string>alsfri10996</string>
	<key>thanhcôngcụ</key>
	<string>alsfri12750</string>
	<key>thanhdấutrang</key>
	<string>alsfri12751</string>
	<key>thanhvịtrí</key>
	<string>alsfri12753</string>
	<key>thiếtlậpsafari</key>
	<string>alsfri10198</string>
	<key>thôngbáo</key>
	<string>alsfri38421</string>
	<key>thôngtinvềnhàpháttriển</key>
	<string>alsfri12732</string>
	<key>thẻ</key>
	<string>alsfri38601</string>
	<key>tinnhắn</key>
	<string>alsfri51033</string>
	<key>tiếtkiệmthờigian</key>
	<string>alsfri30740</string>
	<key>toànmànhình</key>
	<string>alsfri35371</string>
	<key>trangchủ</key>
	<string>alsfri12748</string>
	<key>trangweb</key>
	<string>alsfri12740</string>
	<key>trangwebhàngđầu</key>
	<string>alsfri27218</string>
	<key>trungtâmthôngbáo</key>
	<string>alsfri38420</string>
	<key>trìnhcắm</key>
	<string>alsfri12733</string>
	<key>trìnhđọc</key>
	<string>alsfri33419</string>
	<key>trợnăng</key>
	<string>alsfri12731</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>tìmkiếmtrênweb</key>
	<string>alsfri12744</string>
	<key>tìmtrangweb</key>
	<string>alsfri10178</string>
	<key>tùychỉnhsafari</key>
	<string>alsfri12727</string>
	<key>tùychọn</key>
	<string>alsfri12781</string>
	<key>tùychọncủasafari</key>
	<string>alsfri12782</string>
	<key>tùychọnngônngữ</key>
	<string>alsfri12761</string>
	<key>tệppdf</key>
	<string>alsfri11546</string>
	<key>tổchứcdấutrang</key>
	<string>alsfri12755</string>
	<key>tờkiểu</key>
	<string>alsfri12769</string>
	<key>tựđộngđiền</key>
	<string>alsfri10992</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>xuấtdấutrang</key>
	<string>alsfri10999</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>đangduyệt</key>
	<string>alsfri10161</string>
	<key>đangthuphóng</key>
	<string>alsfri30905</string>
	<key>đangtìmkiếm</key>
	<string>alsfri12729</string>
	<key>đangtảivề</key>
	<string>alsfri10200</string>
	<key>đangxóa</key>
	<string>alsfri19651</string>
	<key>điềuhướngvàtìmkiếm</key>
	<string>alsfri30738</string>
	<key>điềuhướngweb</key>
	<string>alsfri20919</string>
	<key>đặtlạisafari</key>
	<string>alsfri17878</string>
	<key>đồhọa</key>
	<string>alsfri12811</string>
	<key>đồngbộhóa</key>
	<string>alsfri12771</string>
</dict>
</plist>
