<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adresdefteri</key>
	<string>alsfri18211</string>
	<key>anasayfa</key>
	<string>alsfri12748</string>
	<key>arama</key>
	<string>alsfri12729</string>
	<key>aramaalanıveyaaramasorunları</key>
	<string>alsfri12807</string>
	<key>araççubuğu</key>
	<string>alsfri12750</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>açılırpencereler</key>
	<string>alsfri12766</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bağlantılar</key>
	<string>alsfri12737</string>
	<key>bildirimler</key>
	<string>alsfri38421</string>
	<key>bildirimmerkezi</key>
	<string>alsfri38420</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>büyütme</key>
	<string>alsfri30905</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>dijitalsertifikalar</key>
	<string>alsfri12774</string>
	<key>diltercihi</key>
	<string>alsfri12761</string>
	<key>dosyalarıindirmesorunları</key>
	<string>alsfri12804</string>
	<key>ebeveyndenetimleri</key>
	<string>alsfri10997</string>
	<key>engelleme</key>
	<string>alsfri12765</string>
	<key>erişilebilirlik</key>
	<string>alsfri12731</string>
	<key>eşzamanlama</key>
	<string>alsfri12771</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fontlar</key>
	<string>alsfri12764</string>
	<key>formlar</key>
	<string>alsfri10199</string>
	<key>formlarıveyaparolalarıotomatikdoldurmasorunları</key>
	<string>alsfri12800</string>
	<key>geliştiricibilgileri</key>
	<string>alsfri12732</string>
	<key>genişletmeler</key>
	<string>alsfri33070</string>
	<key>geribildirim</key>
	<string>alsfri20882</string>
	<key>geridön</key>
	<string>alsfri12749</string>
	<key>gezinmevearama</key>
	<string>alsfri30738</string>
	<key>gizlilik</key>
	<string>alsfri12730</string>
	<key>gizlilikvegüvenlik</key>
	<string>alsfri30739</string>
	<key>gizliliğivegüvenliğikoruma</key>
	<string>alsfri20920</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafikler</key>
	<string>alsfri12811</string>
	<key>görüntüler</key>
	<string>alsfri12768</string>
	<key>güvenlik</key>
	<string>alsfri10201</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>indirme</key>
	<string>alsfri10200</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>kartlar</key>
	<string>alsfri38601</string>
	<key>kestirmeler</key>
	<string>alsfri11014</string>
	<key>kilitsimgesi</key>
	<string>alsfri12780</string>
	<key>kimlikhırsızlığı</key>
	<string>alsfri27614</string>
	<key>kimlikhırsızlığınıönleme</key>
	<string>alsfri27219</string>
	<key>klavye</key>
	<string>alsfri12791</string>
	<key>koleksiyonlar</key>
	<string>alsfri51030</string>
	<key>konumçubuğu</key>
	<string>alsfri12753</string>
	<key>mesajlar</key>
	<string>alsfri51033</string>
	<key>metinkodlama</key>
	<string>alsfri12762</string>
	<key>metinpuntosu</key>
	<string>alsfri12763</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>okumalistesi</key>
	<string>alsfri35372</string>
	<key>okuyucu</key>
	<string>alsfri33419</string>
	<key>otomatikdoldur</key>
	<string>alsfri10992</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdfdosyaları</key>
	<string>alsfri11546</string>
	<key>pencereler</key>
	<string>alsfri12743</string>
	<key>powerpcyazılımeki</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>proxysunucusu</key>
	<string>alsfri12770</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safaripenceresi</key>
	<string>alsfri12742</string>
	<key>safaritercihleri</key>
	<string>alsfri12782</string>
	<key>safariyiayarlama</key>
	<string>alsfri10198</string>
	<key>safariyisıfırlama</key>
	<string>alsfri17878</string>
	<key>safariyiözelleştirme</key>
	<string>alsfri12727</string>
	<key>sayfalarıepostaylagönderme</key>
	<string>alsfri11002</string>
	<key>sekmeler</key>
	<string>alsfri10996</string>
	<key>sertifikalar</key>
	<string>alsfri12773</string>
	<key>silme</key>
	<string>alsfri19651</string>
	<key>sorungiderme</key>
	<string>alsfri12810</string>
	<key>sorunlarıgiderme</key>
	<string>alsfri30741</string>
	<key>stilsayfası</key>
	<string>alsfri12769</string>
	<key>tamekran</key>
	<string>alsfri35371</string>
	<key>tarama</key>
	<string>alsfri10161</string>
	<key>taramasorungiderme</key>
	<string>alsfri20881</string>
	<key>tarayıcıpenceresi</key>
	<string>alsfri12741</string>
	<key>tarihçe</key>
	<string>alsfri12726</string>
	<key>tercihler</key>
	<string>alsfri12781</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>uluslararası</key>
	<string>alsfri12772</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>veritabanları</key>
	<string>alsfri26747</string>
	<key>webaraması</key>
	<string>alsfri12744</string>
	<key>webarşivleri</key>
	<string>alsfri11001</string>
	<key>webdegezinme</key>
	<string>alsfri20919</string>
	<key>websayfaları</key>
	<string>alsfri12739</string>
	<key>websayfalarınıbulma</key>
	<string>alsfri10178</string>
	<key>websayfalarınıepostaylagönderme</key>
	<string>alsfri12778</string>
	<key>websayfalarınıkaydetme</key>
	<string>alsfri11545</string>
	<key>websayfalarınıokumasorunları</key>
	<string>alsfri12802</string>
	<key>websayfalarınıveyawebsiteleriniaçmasorunları</key>
	<string>alsfri12801</string>
	<key>websitesi</key>
	<string>alsfri12740</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>yazılımekisorunları</key>
	<string>alsfri12806</string>
	<key>yazılımekleri</key>
	<string>alsfri12733</string>
	<key>yerişaretisorunları</key>
	<string>alsfri12803</string>
	<key>yerişaretleri</key>
	<string>alsfri10197</string>
	<key>yerişaretlerimenüsü</key>
	<string>alsfri12752</string>
	<key>yerişaretlerinidüzenleme</key>
	<string>alsfri12755</string>
	<key>yerişaretlerinidışaaktarma</key>
	<string>alsfri10999</string>
	<key>yerişaretleriniiçeaktarma</key>
	<string>alsfri10998</string>
	<key>yerişaretlerisorungiderme</key>
	<string>alsfri20883</string>
	<key>yerişaretleriçubuğu</key>
	<string>alsfri12751</string>
	<key>zamankazanma</key>
	<string>alsfri30740</string>
	<key>çerezler</key>
	<string>alsfri12767</string>
	<key>önbellek</key>
	<string>alsfri12760</string>
</dict>
</plist>
