<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>cookie</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>urlадреса</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>автозаповнення</key>
	<string>alsfri10992</string>
	<key>адреснакнига</key>
	<string>alsfri18211</string>
	<key>антифішинг</key>
	<string>alsfri27219</string>
	<key>аркушстилю</key>
	<string>alsfri12769</string>
	<key>базиданих</key>
	<string>alsfri26747</string>
	<key>батьківськийконтроль</key>
	<string>alsfri10997</string>
	<key>безпека</key>
	<string>alsfri10201</string>
	<key>блокування</key>
	<string>alsfri12765</string>
	<key>вебархіви</key>
	<string>alsfri11001</string>
	<key>вебпошук</key>
	<string>alsfri12744</string>
	<key>вебсайт</key>
	<string>alsfri12740</string>
	<key>вебсторінки</key>
	<string>alsfri12739</string>
	<key>видалення</key>
	<string>alsfri19651</string>
	<key>викачування</key>
	<string>alsfri10200</string>
	<key>вирішенняпроблем</key>
	<string>alsfri30741</string>
	<key>вкладки</key>
	<string>alsfri10996</string>
	<key>відгук</key>
	<string>alsfri20882</string>
	<key>вікна</key>
	<string>alsfri12743</string>
	<key>вікноsafari</key>
	<string>alsfri12742</string>
	<key>вікнобраузера</key>
	<string>alsfri12741</string>
	<key>домашнясторінка</key>
	<string>alsfri12748</string>
	<key>експортуваннязакладок</key>
	<string>alsfri10999</string>
	<key>закладки</key>
	<string>alsfri10197</string>
	<key>закладкиусуненнянеполадок</key>
	<string>alsfri20883</string>
	<key>заощадженнячасу</key>
	<string>alsfri30740</string>
	<key>захистконфіденційностітабезпека</key>
	<string>alsfri20920</string>
	<key>збереженнявебсторінок</key>
	<string>alsfri11545</string>
	<key>зображення</key>
	<string>alsfri12811</string>
	<key>зручнечитання</key>
	<string>alsfri33419</string>
	<key>кеш</key>
	<string>alsfri12760</string>
	<key>клавіатура</key>
	<string>alsfri12791</string>
	<key>клавіатурніскорочення</key>
	<string>alsfri11014</string>
	<key>кодуваннятексту</key>
	<string>alsfri12762</string>
	<key>колекції</key>
	<string>alsfri51030</string>
	<key>конфіденційністьібезпека</key>
	<string>alsfri30739</string>
	<key>малюнок</key>
	<string>alsfri12768</string>
	<key>масштабування</key>
	<string>alsfri30905</string>
	<key>менюзакладок</key>
	<string>alsfri12752</string>
	<key>мовніпараметри</key>
	<string>alsfri12761</string>
	<key>міжнародний</key>
	<string>alsfri12772</string>
	<key>навесьекран</key>
	<string>alsfri35371</string>
	<key>навігаціявінтернеті</key>
	<string>alsfri20919</string>
	<key>навігаціятапошук</key>
	<string>alsfri30738</string>
	<key>надсиланнявебсторінокпоштою</key>
	<string>alsfri12778</string>
	<key>надсиланнясторінокпоштою</key>
	<string>alsfri11002</string>
	<key>настроюванняsafari</key>
	<string>alsfri10198</string>
	<key>панельінструментів</key>
	<string>alsfri12750</string>
	<key>параметри</key>
	<string>alsfri12781</string>
	<key>параметриsafari</key>
	<string>alsfri12782</string>
	<key>перегляд</key>
	<string>alsfri10161</string>
	<key>переглядусуненнянеполадок</key>
	<string>alsfri20881</string>
	<key>плагінpowerpc</key>
	<string>alsfri12783</string>
	<key>плагіни</key>
	<string>alsfri12733</string>
	<key>повідомлення</key>
	<string>alsfri51033</string>
	<key>посилання</key>
	<string>alsfri12737</string>
	<key>пошук</key>
	<string>alsfri12729</string>
	<key>пошуквебсторінок</key>
	<string>alsfri10178</string>
	<key>проблемизавтозаповненнямформіпаролів</key>
	<string>alsfri12800</string>
	<key>проблемизвикачуваннямфайлів</key>
	<string>alsfri12804</string>
	<key>проблемизвідкриваннямвебсторінокабовебсайтів</key>
	<string>alsfri12801</string>
	<key>проблемизплагінами</key>
	<string>alsfri12806</string>
	<key>проблемизполемпошукуабопошуком</key>
	<string>alsfri12807</string>
	<key>проблемизчитаннямвебсторінок</key>
	<string>alsfri12802</string>
	<key>проблемиіззакладками</key>
	<string>alsfri12803</string>
	<key>проксісервер</key>
	<string>alsfri12770</string>
	<key>роботазфайламиpdf</key>
	<string>alsfri11546</string>
	<key>розміртексту</key>
	<string>alsfri12763</string>
	<key>розширення</key>
	<string>alsfri33070</string>
	<key>сертифікати</key>
	<string>alsfri12773</string>
	<key>синхронізація</key>
	<string>alsfri12771</string>
	<key>скиданняпараметрівsafari</key>
	<string>alsfri17878</string>
	<key>смугазакладок</key>
	<string>alsfri12751</string>
	<key>смугарозташування</key>
	<string>alsfri12753</string>
	<key>спеціальніможливості</key>
	<string>alsfri12731</string>
	<key>спливнівікна</key>
	<string>alsfri12766</string>
	<key>сповіщення</key>
	<string>alsfri38421</string>
	<key>талони</key>
	<string>alsfri38601</string>
	<key>упорядкуваннязакладок</key>
	<string>alsfri12755</string>
	<key>усуненнянеполадок</key>
	<string>alsfri12810</string>
	<key>форми</key>
	<string>alsfri10199</string>
	<key>фішинг</key>
	<string>alsfri27614</string>
	<key>центрсповіщень</key>
	<string>alsfri38420</string>
	<key>цифровісертифікати</key>
	<string>alsfri12774</string>
	<key>читанка</key>
	<string>alsfri35372</string>
	<key>шрифти</key>
	<string>alsfri12764</string>
	<key>іконкаблокування</key>
	<string>alsfri12780</string>
	<key>імпотуваннязакладок</key>
	<string>alsfri10998</string>
	<key>інформаціяпророзробника</key>
	<string>alsfri12732</string>
	<key>історія</key>
	<string>alsfri12726</string>
</dict>
</plist>
