<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>reader</key>
	<string>alsfri33419</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>автозаполнение</key>
	<string>alsfri10992</string>
	<key>адреснаякнига</key>
	<string>alsfri18211</string>
	<key>антифишинг</key>
	<string>alsfri27219</string>
	<key>базыданных</key>
	<string>alsfri26747</string>
	<key>безопасность</key>
	<string>alsfri10201</string>
	<key>блокировка</key>
	<string>alsfri12765</string>
	<key>вебархивы</key>
	<string>alsfri11001</string>
	<key>вебсайт</key>
	<string>alsfri12740</string>
	<key>вебстраницы</key>
	<string>alsfri12739</string>
	<key>вкладки</key>
	<string>alsfri10996</string>
	<key>всплывающиеокна</key>
	<string>alsfri12766</string>
	<key>графика</key>
	<string>alsfri12811</string>
	<key>домашняястраница</key>
	<string>alsfri12748</string>
	<key>загрузка</key>
	<string>alsfri10200</string>
	<key>закладки</key>
	<string>alsfri10197</string>
	<key>закладкиустранениенеполадок</key>
	<string>alsfri20883</string>
	<key>защитаконфиденциальностиибезопасности</key>
	<string>alsfri20920</string>
	<key>значокзамка</key>
	<string>alsfri12780</string>
	<key>изменениемасштаба</key>
	<string>alsfri30905</string>
	<key>изображения</key>
	<string>alsfri12768</string>
	<key>импортзакладок</key>
	<string>alsfri10998</string>
	<key>информациядляразработчиков</key>
	<string>alsfri12732</string>
	<key>история</key>
	<string>alsfri12726</string>
	<key>клавиатура</key>
	<string>alsfri12791</string>
	<key>кодировкатекста</key>
	<string>alsfri12762</string>
	<key>коллекции</key>
	<string>alsfri51030</string>
	<key>конфиденциальность</key>
	<string>alsfri12730</string>
	<key>конфиденциальностьибезопасность</key>
	<string>alsfri30739</string>
	<key>купоны</key>
	<string>alsfri38601</string>
	<key>кэш</key>
	<string>alsfri12760</string>
	<key>международный</key>
	<string>alsfri12772</string>
	<key>менюзакладок</key>
	<string>alsfri12752</string>
	<key>навигациявинтернете</key>
	<string>alsfri20919</string>
	<key>навигацияипоиск</key>
	<string>alsfri30738</string>
	<key>настройкаsafari</key>
	<string>alsfri10198</string>
	<key>настройки</key>
	<string>alsfri12781</string>
	<key>настройкиsafari</key>
	<string>alsfri12782</string>
	<key>настройкиязыка</key>
	<string>alsfri12761</string>
	<key>обратнаясвязь</key>
	<string>alsfri20882</string>
	<key>окна</key>
	<string>alsfri12743</string>
	<key>окноsafari</key>
	<string>alsfri12742</string>
	<key>окнобраузера</key>
	<string>alsfri12741</string>
	<key>организациязакладок</key>
	<string>alsfri12755</string>
	<key>отправкавебстраницпопочте</key>
	<string>alsfri12778</string>
	<key>отправкастраницпопочте</key>
	<string>alsfri11002</string>
	<key>панельзакладок</key>
	<string>alsfri12751</string>
	<key>панельинструментов</key>
	<string>alsfri12750</string>
	<key>панельместоположения</key>
	<string>alsfri12753</string>
	<key>плагинpowerpc</key>
	<string>alsfri12783</string>
	<key>плагины</key>
	<string>alsfri12733</string>
	<key>поиск</key>
	<string>alsfri12729</string>
	<key>поисквебстраниц</key>
	<string>alsfri10178</string>
	<key>поисквинтернете</key>
	<string>alsfri12744</string>
	<key>полныйэкран</key>
	<string>alsfri35371</string>
	<key>проблемывозникающиеприпопыткеоткрытьвебсайтиливебстраницу</key>
	<string>alsfri12801</string>
	<key>проблемыприавтозаполненииформилипаролей</key>
	<string>alsfri12800</string>
	<key>проблемыпризагрузкефайлов</key>
	<string>alsfri12804</string>
	<key>проблемыприиспользованиизакладок</key>
	<string>alsfri12803</string>
	<key>проблемыприиспользованииплагинов</key>
	<string>alsfri12806</string>
	<key>проблемысоткрытиемвебстраниц</key>
	<string>alsfri12802</string>
	<key>проблемысполемпоискаилиприпоиске</key>
	<string>alsfri12807</string>
	<key>проксисервер</key>
	<string>alsfri12770</string>
	<key>просмотр</key>
	<string>alsfri10161</string>
	<key>просмотрустранениенеполадок</key>
	<string>alsfri20881</string>
	<key>размертекста</key>
	<string>alsfri12763</string>
	<key>расширения</key>
	<string>alsfri33070</string>
	<key>решениепроблем</key>
	<string>alsfri30741</string>
	<key>родительскийконтроль</key>
	<string>alsfri10997</string>
	<key>сбросsafari</key>
	<string>alsfri17878</string>
	<key>сертификаты</key>
	<string>alsfri12773</string>
	<key>синхронизация</key>
	<string>alsfri12771</string>
	<key>сокращения</key>
	<string>alsfri11014</string>
	<key>сообщения</key>
	<string>alsfri51033</string>
	<key>сохранениевебстраниц</key>
	<string>alsfri11545</string>
	<key>специальныевозможности</key>
	<string>alsfri12731</string>
	<key>списокдлячтения</key>
	<string>alsfri35372</string>
	<key>ссылки</key>
	<string>alsfri12737</string>
	<key>твиттер</key>
	<string>alsfri51032</string>
	<key>уведомления</key>
	<string>alsfri38421</string>
	<key>удаление</key>
	<string>alsfri19651</string>
	<key>устранениенеполадок</key>
	<string>alsfri12810</string>
	<key>файлыcookie</key>
	<string>alsfri12767</string>
	<key>файлыpdf</key>
	<string>alsfri11546</string>
	<key>фишинг</key>
	<string>alsfri27614</string>
	<key>формы</key>
	<string>alsfri10199</string>
	<key>центруведомлений</key>
	<string>alsfri38420</string>
	<key>цифровыесертификаты</key>
	<string>alsfri12774</string>
	<key>шаблонстиля</key>
	<string>alsfri12769</string>
	<key>шрифты</key>
	<string>alsfri12764</string>
	<key>экономиявремени</key>
	<string>alsfri30740</string>
	<key>экспортзакладок</key>
	<string>alsfri10999</string>
</dict>
</plist>
