<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>cookie</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdf文件</key>
	<string>alsfri11546</string>
	<key>powerpc插件</key>
	<string>alsfri12783</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safari偏好设置</key>
	<string>alsfri12782</string>
	<key>safari窗口</key>
	<string>alsfri12742</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>web归档</key>
	<string>alsfri11001</string>
	<key>web搜索</key>
	<string>alsfri12744</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>万能辅助</key>
	<string>alsfri12792</string>
	<key>下载</key>
	<string>alsfri10200</string>
	<key>下载文件时遇到问题</key>
	<string>alsfri12804</string>
	<key>主页</key>
	<string>alsfri12748</string>
	<key>书签</key>
	<string>alsfri10197</string>
	<key>书签故障排除</key>
	<string>alsfri20883</string>
	<key>书签栏</key>
	<string>alsfri12751</string>
	<key>书签的相关问题</key>
	<string>alsfri12803</string>
	<key>书签菜单</key>
	<string>alsfri12752</string>
	<key>代理服务器</key>
	<string>alsfri12770</string>
	<key>位置栏</key>
	<string>alsfri12753</string>
	<key>保持隐私和安全性</key>
	<string>alsfri20920</string>
	<key>信息</key>
	<string>alsfri51033</string>
	<key>偏好设置</key>
	<string>alsfri12781</string>
	<key>全屏幕</key>
	<string>alsfri35371</string>
	<key>凭证</key>
	<string>alsfri38601</string>
	<key>删除</key>
	<string>alsfri19651</string>
	<key>历史记录</key>
	<string>alsfri12726</string>
	<key>反馈</key>
	<string>alsfri20882</string>
	<key>发送页面</key>
	<string>alsfri11002</string>
	<key>同步</key>
	<string>alsfri12771</string>
	<key>图像</key>
	<string>alsfri12768</string>
	<key>图形</key>
	<string>alsfri12811</string>
	<key>地址簿</key>
	<string>alsfri18211</string>
	<key>多语言环境</key>
	<string>alsfri12772</string>
	<key>字体</key>
	<string>alsfri12764</string>
	<key>存储网页</key>
	<string>alsfri11545</string>
	<key>安全性</key>
	<string>alsfri10201</string>
	<key>家长控制</key>
	<string>alsfri10997</string>
	<key>导入书签</key>
	<string>alsfri10998</string>
	<key>导出书签</key>
	<string>alsfri10999</string>
	<key>导航web</key>
	<string>alsfri20919</string>
	<key>导航和搜索</key>
	<string>alsfri30738</string>
	<key>工具栏</key>
	<string>alsfri12750</string>
	<key>开发者信息</key>
	<string>alsfri12732</string>
	<key>弹出式窗口</key>
	<string>alsfri12766</string>
	<key>必应</key>
	<string>alsfri34658</string>
	<key>快捷键</key>
	<string>alsfri11014</string>
	<key>快速返回</key>
	<string>alsfri12749</string>
	<key>打开网页或网站时出现问题</key>
	<string>alsfri12801</string>
	<key>扩展</key>
	<string>alsfri33070</string>
	<key>插件</key>
	<string>alsfri12733</string>
	<key>插件的相关问题</key>
	<string>alsfri12806</string>
	<key>搜索</key>
	<string>alsfri12729</string>
	<key>搜索栏或搜索的相关问题</key>
	<string>alsfri12807</string>
	<key>收藏</key>
	<string>alsfri51030</string>
	<key>故障排除</key>
	<string>alsfri12810</string>
	<key>数字证书</key>
	<string>alsfri12774</string>
	<key>数据库</key>
	<string>alsfri26747</string>
	<key>整理书签</key>
	<string>alsfri12755</string>
	<key>文本大小</key>
	<string>alsfri12763</string>
	<key>文本编码</key>
	<string>alsfri12762</string>
	<key>查找网页</key>
	<string>alsfri10178</string>
	<key>标签页</key>
	<string>alsfri10996</string>
	<key>样式表</key>
	<string>alsfri12769</string>
	<key>浏览</key>
	<string>alsfri10161</string>
	<key>浏览器窗口</key>
	<string>alsfri12741</string>
	<key>浏览故障排除</key>
	<string>alsfri20881</string>
	<key>清除</key>
	<string>alsfri12821</string>
	<key>电子邮件网页</key>
	<string>alsfri12778</string>
	<key>百度</key>
	<string>alsfri38531</string>
	<key>窗口</key>
	<string>alsfri12743</string>
	<key>缩放</key>
	<string>alsfri30905</string>
	<key>网站</key>
	<string>alsfri12740</string>
	<key>网络钓鱼</key>
	<string>alsfri27614</string>
	<key>网页</key>
	<string>alsfri12739</string>
	<key>自动填充</key>
	<string>alsfri10992</string>
	<key>自动填充表单或密码时出现的问题</key>
	<string>alsfri12800</string>
	<key>自定safari</key>
	<string>alsfri12727</string>
	<key>节省时间</key>
	<string>alsfri30740</string>
	<key>表单</key>
	<string>alsfri10199</string>
	<key>解决问题</key>
	<string>alsfri30741</string>
	<key>设置safari</key>
	<string>alsfri10198</string>
	<key>证书</key>
	<string>alsfri12773</string>
	<key>语言偏好设置</key>
	<string>alsfri12761</string>
	<key>辅助功能</key>
	<string>alsfri12731</string>
	<key>还原safari</key>
	<string>alsfri17878</string>
	<key>通知</key>
	<string>alsfri38421</string>
	<key>通知中心</key>
	<string>alsfri38420</string>
	<key>链接</key>
	<string>alsfri12737</string>
	<key>锁图标</key>
	<string>alsfri12780</string>
	<key>键盘</key>
	<string>alsfri12791</string>
	<key>阅读列表</key>
	<string>alsfri35372</string>
	<key>阅读器</key>
	<string>alsfri33419</string>
	<key>阅读网页时出现问题</key>
	<string>alsfri12802</string>
	<key>防网络钓鱼</key>
	<string>alsfri27219</string>
	<key>阻止</key>
	<string>alsfri12765</string>
	<key>隐私</key>
	<string>alsfri12730</string>
	<key>隐私和安全性</key>
	<string>alsfri30739</string>
	<key>高速缓存</key>
	<string>alsfri12760</string>
</dict>
</plist>
