<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibility</key>
	<string>alsfri12731</string>
	<key>addressbook</key>
	<string>alsfri18211</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>autofill</key>
	<string>alsfri10992</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>blocking</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>bookmarks</key>
	<string>alsfri10197</string>
	<key>bookmarksbar</key>
	<string>alsfri12751</string>
	<key>bookmarksmenu</key>
	<string>alsfri12752</string>
	<key>bookmarkstroubleshooting</key>
	<string>alsfri20883</string>
	<key>browserwindow</key>
	<string>alsfri12741</string>
	<key>browsing</key>
	<string>alsfri10161</string>
	<key>browsingtroubleshooting</key>
	<string>alsfri20881</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>certificates</key>
	<string>alsfri12773</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>collections</key>
	<string>alsfri51030</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>customizingsafari</key>
	<string>alsfri12727</string>
	<key>databases</key>
	<string>alsfri26747</string>
	<key>deleting</key>
	<string>alsfri19651</string>
	<key>developerinformation</key>
	<string>alsfri12732</string>
	<key>digitalcertificates</key>
	<string>alsfri12774</string>
	<key>downloading</key>
	<string>alsfri10200</string>
	<key>emailingwebpages</key>
	<string>alsfri12778</string>
	<key>exportingbookmarks</key>
	<string>alsfri10999</string>
	<key>extensions</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>feedback</key>
	<string>alsfri20882</string>
	<key>findingwebpages</key>
	<string>alsfri10178</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fonts</key>
	<string>alsfri12764</string>
	<key>forms</key>
	<string>alsfri10199</string>
	<key>fullscreen</key>
	<string>alsfri35371</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>graphics</key>
	<string>alsfri12811</string>
	<key>history</key>
	<string>alsfri12726</string>
	<key>homepage</key>
	<string>alsfri12748</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>images</key>
	<string>alsfri12768</string>
	<key>importingbookmarks</key>
	<string>alsfri10998</string>
	<key>international</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>keyboard</key>
	<string>alsfri12791</string>
	<key>languagepreference</key>
	<string>alsfri12761</string>
	<key>links</key>
	<string>alsfri12737</string>
	<key>locationbar</key>
	<string>alsfri12753</string>
	<key>lockicon</key>
	<string>alsfri12780</string>
	<key>mailingpages</key>
	<string>alsfri11002</string>
	<key>maintainingprivacyandsecurity</key>
	<string>alsfri20920</string>
	<key>messages</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigateandsearch</key>
	<string>alsfri30738</string>
	<key>navigatingtheweb</key>
	<string>alsfri20919</string>
	<key>notificationcenter</key>
	<string>alsfri38420</string>
	<key>notifications</key>
	<string>alsfri38421</string>
	<key>organizingbookmarks</key>
	<string>alsfri12755</string>
	<key>parentalcontrols</key>
	<string>alsfri10997</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>passes</key>
	<string>alsfri38601</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdffiles</key>
	<string>alsfri11546</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>plugins</key>
	<string>alsfri12733</string>
	<key>popupwindows</key>
	<string>alsfri12766</string>
	<key>powerpcplugin</key>
	<string>alsfri12783</string>
	<key>preferences</key>
	<string>alsfri12781</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>privacy</key>
	<string>alsfri12730</string>
	<key>privacyandsecurity</key>
	<string>alsfri30739</string>
	<key>problemsautofillingformsorpasswords</key>
	<string>alsfri12800</string>
	<key>problemsdownloadingfiles</key>
	<string>alsfri12804</string>
	<key>problemsopeningwebpagesorwebsites</key>
	<string>alsfri12801</string>
	<key>problemsreadingwebpages</key>
	<string>alsfri12802</string>
	<key>problemswithbookmarks</key>
	<string>alsfri12803</string>
	<key>problemswithplugins</key>
	<string>alsfri12806</string>
	<key>problemswiththesearchfieldorsearching</key>
	<string>alsfri12807</string>
	<key>proxyserver</key>
	<string>alsfri12770</string>
	<key>reader</key>
	<string>alsfri33419</string>
	<key>readinglist</key>
	<string>alsfri35372</string>
	<key>resettingsafari</key>
	<string>alsfri17878</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safaripreferences</key>
	<string>alsfri12782</string>
	<key>safariwindow</key>
	<string>alsfri12742</string>
	<key>savingtime</key>
	<string>alsfri30740</string>
	<key>savingwebpages</key>
	<string>alsfri11545</string>
	<key>searching</key>
	<string>alsfri12729</string>
	<key>security</key>
	<string>alsfri10201</string>
	<key>settingupsafari</key>
	<string>alsfri10198</string>
	<key>shortcuts</key>
	<string>alsfri11014</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>solvingproblems</key>
	<string>alsfri30741</string>
	<key>stylesheet</key>
	<string>alsfri12769</string>
	<key>syncing</key>
	<string>alsfri12771</string>
	<key>tabs</key>
	<string>alsfri10996</string>
	<key>textencoding</key>
	<string>alsfri12762</string>
	<key>textsize</key>
	<string>alsfri12763</string>
	<key>toolbar</key>
	<string>alsfri12750</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>troubleshooting</key>
	<string>alsfri12810</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>webarchives</key>
	<string>alsfri11001</string>
	<key>webpages</key>
	<string>alsfri12739</string>
	<key>websearch</key>
	<string>alsfri12744</string>
	<key>website</key>
	<string>alsfri12740</string>
	<key>windows</key>
	<string>alsfri12743</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zooming</key>
	<string>alsfri30905</string>
</dict>
</plist>
