<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibilité</key>
	<string>alsfri12731</string>
	<key>antihameçonnage</key>
	<string>alsfri27219</string>
	<key>archivesweb</key>
	<string>alsfri11001</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>barredemplacement</key>
	<string>alsfri12753</string>
	<key>barredesignets</key>
	<string>alsfri12751</string>
	<key>barredoutils</key>
	<string>alsfri12750</string>
	<key>basesdedonnées</key>
	<string>alsfri26747</string>
	<key>billetscartesoucoupons</key>
	<string>alsfri38601</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>blocage</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>carnetdadresses</key>
	<string>alsfri18211</string>
	<key>centredenotifications</key>
	<string>alsfri38420</string>
	<key>certificats</key>
	<string>alsfri12773</string>
	<key>certificatsnumériques</key>
	<string>alsfri12774</string>
	<key>clavier</key>
	<string>alsfri12791</string>
	<key>codagedetexte</key>
	<string>alsfri12762</string>
	<key>collections</key>
	<string>alsfri51030</string>
	<key>confidentialité</key>
	<string>alsfri12730</string>
	<key>confidentialitéetsécurité</key>
	<string>alsfri30739</string>
	<key>configurationdesafari</key>
	<string>alsfri10198</string>
	<key>contrôlesparentaux</key>
	<string>alsfri10997</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>dépannage</key>
	<string>alsfri12810</string>
	<key>effacement</key>
	<string>alsfri12821</string>
	<key>enregistrementdepagesweb</key>
	<string>alsfri11545</string>
	<key>envoidepagesparemail</key>
	<string>alsfri11002</string>
	<key>envoidepageswebparemail</key>
	<string>alsfri12778</string>
	<key>exportationdesignets</key>
	<string>alsfri10999</string>
	<key>extensions</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>fenêtredenavigateur</key>
	<string>alsfri12741</string>
	<key>fenêtres</key>
	<string>alsfri12743</string>
	<key>fenêtresafari</key>
	<string>alsfri12742</string>
	<key>fenêtreslocales</key>
	<string>alsfri12766</string>
	<key>feuilledestyle</key>
	<string>alsfri12769</string>
	<key>fichierspdf</key>
	<string>alsfri11546</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>formulaires</key>
	<string>alsfri10199</string>
	<key>gagnerdutemps</key>
	<string>alsfri30740</string>
	<key>gestiondelaconfidentialitéetdelasécurité</key>
	<string>alsfri20920</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>graphiques</key>
	<string>alsfri12811</string>
	<key>hameçonnage</key>
	<string>alsfri27614</string>
	<key>historique</key>
	<string>alsfri12726</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>icôneducadenas</key>
	<string>alsfri12780</string>
	<key>images</key>
	<string>alsfri12768</string>
	<key>importationdesignets</key>
	<string>alsfri10998</string>
	<key>informationssurledéveloppeur</key>
	<string>alsfri12732</string>
	<key>international</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>lecteur</key>
	<string>alsfri33419</string>
	<key>liens</key>
	<string>alsfri12737</string>
	<key>listedelecture</key>
	<string>alsfri35372</string>
	<key>menusignets</key>
	<string>alsfri12752</string>
	<key>messages</key>
	<string>alsfri51033</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>modulepowerpc</key>
	<string>alsfri12783</string>
	<key>modules</key>
	<string>alsfri12733</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigation</key>
	<string>alsfri10161</string>
	<key>navigationdépannage</key>
	<string>alsfri20881</string>
	<key>navigationsurleweb</key>
	<string>alsfri20919</string>
	<key>navigueretrechercher</key>
	<string>alsfri30738</string>
	<key>notifications</key>
	<string>alsfri38421</string>
	<key>organisationdesignets</key>
	<string>alsfri12755</string>
	<key>pagedaccueil</key>
	<string>alsfri12748</string>
	<key>pagesweb</key>
	<string>alsfri12739</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>personnalisationdesafari</key>
	<string>alsfri12727</string>
	<key>pleinécran</key>
	<string>alsfri35371</string>
	<key>polices</key>
	<string>alsfri12764</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>problèmesdelecturedepagesweb</key>
	<string>alsfri12802</string>
	<key>problèmesderemplissageautomatiquedeformulairesoudemotsdepasse</key>
	<string>alsfri12800</string>
	<key>problèmesdetéléchargementdefichiers</key>
	<string>alsfri12804</string>
	<key>problèmesdouverturedepagesweboudesitesweb</key>
	<string>alsfri12801</string>
	<key>problèmesliésauchampderechercheouàlarecherche</key>
	<string>alsfri12807</string>
	<key>problèmesliésauxmodules</key>
	<string>alsfri12806</string>
	<key>problèmesliésauxsignets</key>
	<string>alsfri12803</string>
	<key>préférencedelangue</key>
	<string>alsfri12761</string>
	<key>préférences</key>
	<string>alsfri12781</string>
	<key>préférencessafari</key>
	<string>alsfri12782</string>
	<key>raccourcis</key>
	<string>alsfri11014</string>
	<key>recherchedepagesweb</key>
	<string>alsfri10178</string>
	<key>rechercheencours</key>
	<string>alsfri12729</string>
	<key>recherchesurleweb</key>
	<string>alsfri12744</string>
	<key>remplissageautomatique</key>
	<string>alsfri10992</string>
	<key>retour</key>
	<string>alsfri20882</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>réinitialisationdesafari</key>
	<string>alsfri17878</string>
	<key>résolutiondeproblèmes</key>
	<string>alsfri30741</string>
	<key>serveurproxy</key>
	<string>alsfri12770</string>
	<key>signets</key>
	<string>alsfri10197</string>
	<key>signetsdépannage</key>
	<string>alsfri20883</string>
	<key>siteweb</key>
	<string>alsfri12740</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>suppression</key>
	<string>alsfri19651</string>
	<key>synchronisation</key>
	<string>alsfri12771</string>
	<key>sécurité</key>
	<string>alsfri10201</string>
	<key>tabulations</key>
	<string>alsfri10996</string>
	<key>tailledutexte</key>
	<string>alsfri12763</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>téléchargement</key>
	<string>alsfri10200</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zoom</key>
	<string>alsfri30905</string>
</dict>
</plist>
