<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adresar</key>
	<string>alsfri18211</string>
	<key>alatnatraka</key>
	<string>alsfri12750</string>
	<key>autoispuna</key>
	<string>alsfri10992</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bazepodataka</key>
	<string>alsfri26747</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>blokiranje</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>brisanje</key>
	<string>alsfri19651</string>
	<key>centarzaobavijesti</key>
	<string>alsfri38420</string>
	<key>certifikati</key>
	<string>alsfri12773</string>
	<key>cijelizaslon</key>
	<string>alsfri35371</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>digitalnicertifikati</key>
	<string>alsfri12774</string>
	<key>eksportiranjeknjižnihoznaka</key>
	<string>alsfri10999</string>
	<key>ekstenzije</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>fontovi</key>
	<string>alsfri12764</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafika</key>
	<string>alsfri12811</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>ikonalokota</key>
	<string>alsfri12780</string>
	<key>importiranjeknjižnihoznaka</key>
	<string>alsfri10998</string>
	<key>informacijezaprogramere</key>
	<string>alsfri12732</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>internetskastranica</key>
	<string>alsfri12740</string>
	<key>izbornikknjižnihoznaka</key>
	<string>alsfri12752</string>
	<key>kartice</key>
	<string>alsfri10996</string>
	<key>knjižneoznake</key>
	<string>alsfri10197</string>
	<key>knjižneoznakeotklanjanjepoteškoća</key>
	<string>alsfri20883</string>
	<key>kodiranjeteksta</key>
	<string>alsfri12762</string>
	<key>kolačići</key>
	<string>alsfri12767</string>
	<key>kolekcije</key>
	<string>alsfri51030</string>
	<key>linkovi</key>
	<string>alsfri12737</string>
	<key>međunarodno</key>
	<string>alsfri12772</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navigacijainternetom</key>
	<string>alsfri20919</string>
	<key>navigacijaipretraživanje</key>
	<string>alsfri30738</string>
	<key>obavijesti</key>
	<string>alsfri38421</string>
	<key>obrasci</key>
	<string>alsfri10199</string>
	<key>održavanjeprivatnostiisigurnosti</key>
	<string>alsfri20920</string>
	<key>organiziranjeknjižnihoznaka</key>
	<string>alsfri12755</string>
	<key>otklanjanjepoteškoća</key>
	<string>alsfri12810</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdfdatoteke</key>
	<string>alsfri11546</string>
	<key>pluginovi</key>
	<string>alsfri12733</string>
	<key>podešavanjesafarija</key>
	<string>alsfri10198</string>
	<key>popiszačitanje</key>
	<string>alsfri35372</string>
	<key>poruke</key>
	<string>alsfri51033</string>
	<key>postavkajezika</key>
	<string>alsfri12761</string>
	<key>postavke</key>
	<string>alsfri12781</string>
	<key>povijest</key>
	<string>alsfri12726</string>
	<key>povratnainformacija</key>
	<string>alsfri20882</string>
	<key>powerpcplugin</key>
	<string>alsfri12783</string>
	<key>početnastr</key>
	<string>alsfri12748</string>
	<key>predmemorija</key>
	<string>alsfri12760</string>
	<key>pregledavanje</key>
	<string>alsfri10161</string>
	<key>pregledavanjeotklanjanjepoteškoća</key>
	<string>alsfri20881</string>
	<key>pretraživanjeinterneta</key>
	<string>alsfri12744</string>
	<key>pretražujese</key>
	<string>alsfri12729</string>
	<key>preuzimanje</key>
	<string>alsfri10200</string>
	<key>prečaci</key>
	<string>alsfri11014</string>
	<key>prijevare</key>
	<string>alsfri27614</string>
	<key>prilagođavanjepreglednikasafari</key>
	<string>alsfri12727</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>pristupačnost</key>
	<string>alsfri12731</string>
	<key>privatnost</key>
	<string>alsfri12730</string>
	<key>privatnostisigurnost</key>
	<string>alsfri30739</string>
	<key>problemipričitanjuinternetskihstranica</key>
	<string>alsfri12802</string>
	<key>problemisautomatskomispunomobrazacaililozinki</key>
	<string>alsfri12800</string>
	<key>problemisknjižnimoznakama</key>
	<string>alsfri12803</string>
	<key>problemisotvaranjemwebstranicailiinternetskihstranica</key>
	<string>alsfri12801</string>
	<key>problemispluginima</key>
	<string>alsfri12806</string>
	<key>problemispoljemzapretraživanjeilipretraživanjem</key>
	<string>alsfri12807</string>
	<key>problemispreuzimanjemdatoteka</key>
	<string>alsfri12804</string>
	<key>pronalaženjeinternetskihstranica</key>
	<string>alsfri10178</string>
	<key>propusnice</key>
	<string>alsfri38601</string>
	<key>protivprijevara</key>
	<string>alsfri27219</string>
	<key>proxyposlužitelj</key>
	<string>alsfri12770</string>
	<key>prozori</key>
	<string>alsfri12743</string>
	<key>prozorpreglednika</key>
	<string>alsfri12741</string>
	<key>prozorpreglednikasafari</key>
	<string>alsfri12742</string>
	<key>resetiranjepreglednikasafari</key>
	<string>alsfri17878</string>
	<key>rješavanjeproblema</key>
	<string>alsfri30741</string>
	<key>roditeljskekontrole</key>
	<string>alsfri10997</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>safaripostavke</key>
	<string>alsfri12782</string>
	<key>sigurnost</key>
	<string>alsfri10201</string>
	<key>sinkronizacija</key>
	<string>alsfri12771</string>
	<key>skočniprozori</key>
	<string>alsfri12766</string>
	<key>slanjeinternetskihstranicaemailom</key>
	<string>alsfri12778</string>
	<key>slanjestranica</key>
	<string>alsfri11002</string>
	<key>slike</key>
	<string>alsfri12768</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>spremanjeinternetskihstranica</key>
	<string>alsfri11545</string>
	<key>stilskipredložak</key>
	<string>alsfri12769</string>
	<key>tipkovnica</key>
	<string>alsfri12791</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>trakalokacije</key>
	<string>alsfri12753</string>
	<key>trakasknjižnimoznakama</key>
	<string>alsfri12751</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>uštedavremena</key>
	<string>alsfri30740</string>
	<key>veličinateksta</key>
	<string>alsfri12763</string>
	<key>webarhive</key>
	<string>alsfri11001</string>
	<key>webstranice</key>
	<string>alsfri12739</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zumiranje</key>
	<string>alsfri30905</string>
	<key>čitač</key>
	<string>alsfri33419</string>
</dict>
</plist>
