<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addressbook</key>
	<string>alsfri18211</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>autofill</key>
	<string>alsfri10992</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>blokovanie</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>celáobrazovka</key>
	<string>alsfri35371</string>
	<key>centrumhlásení</key>
	<string>alsfri38420</string>
	<key>certifikáty</key>
	<string>alsfri12773</string>
	<key>clearing</key>
	<string>alsfri12821</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>databázy</key>
	<string>alsfri26747</string>
	<key>digitálnecertifikáty</key>
	<string>alsfri12774</string>
	<key>domovskástránka</key>
	<string>alsfri12748</string>
	<key>exportovaniezáložiek</key>
	<string>alsfri10999</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>formuláre</key>
	<string>alsfri10199</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>grafika</key>
	<string>alsfri12811</string>
	<key>história</key>
	<string>alsfri12726</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>ikonazámku</key>
	<string>alsfri12780</string>
	<key>importovaniezáložiek</key>
	<string>alsfri10998</string>
	<key>informácieprevývojárov</key>
	<string>alsfri12732</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>klávesnica</key>
	<string>alsfri12791</string>
	<key>knihapasovpassbook</key>
	<string>alsfri38602</string>
	<key>kódovanietextu</key>
	<string>alsfri12762</string>
	<key>lištasozáložkami</key>
	<string>alsfri12751</string>
	<key>lištaumiestnenia</key>
	<string>alsfri12753</string>
	<key>medzinárodné</key>
	<string>alsfri12772</string>
	<key>menuzáložky</key>
	<string>alsfri12752</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>modulpowerpc</key>
	<string>alsfri12783</string>
	<key>moduly</key>
	<string>alsfri12733</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>nastavenia</key>
	<string>alsfri12781</string>
	<key>nastaveniasafari</key>
	<string>alsfri12782</string>
	<key>nastaveniejazyka</key>
	<string>alsfri12761</string>
	<key>nastaveniesafari</key>
	<string>alsfri10198</string>
	<key>navigáciaavyhľadávanie</key>
	<string>alsfri30738</string>
	<key>navigácianawebe</key>
	<string>alsfri20919</string>
	<key>obnoveniesafari</key>
	<string>alsfri17878</string>
	<key>obrázky</key>
	<string>alsfri12768</string>
	<key>ochranasúkromiaabezpečnosť</key>
	<string>alsfri30739</string>
	<key>odkazy</key>
	<string>alsfri12737</string>
	<key>odosielaniewebovýchstránokemailom</key>
	<string>alsfri12778</string>
	<key>oknoprehliadača</key>
	<string>alsfri12741</string>
	<key>oknosafari</key>
	<string>alsfri12742</string>
	<key>okná</key>
	<string>alsfri12743</string>
	<key>oznámenia</key>
	<string>alsfri38421</string>
	<key>panelsnástrojmi</key>
	<string>alsfri12750</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>pdfsúbory</key>
	<string>alsfri11546</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>prechody</key>
	<string>alsfri38601</string>
	<key>prezeranie</key>
	<string>alsfri10161</string>
	<key>prezeranieriešenieproblémov</key>
	<string>alsfri20881</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>prispôsobeniesafari</key>
	<string>alsfri12727</string>
	<key>problémypriautomatickomvypĺňaníformulárovahesiel</key>
	<string>alsfri12800</string>
	<key>problémypriotváraníwebovýchstránok</key>
	<string>alsfri12801</string>
	<key>problémypričítaníwebovýchstránok</key>
	<string>alsfri12802</string>
	<key>problémysdoplnkami</key>
	<string>alsfri12806</string>
	<key>problémysosťahovanímsúborov</key>
	<string>alsfri12804</string>
	<key>problémysozáložkami</key>
	<string>alsfri12803</string>
	<key>problémyspoľomvyhľadávaniaalebovyhľadávaním</key>
	<string>alsfri12807</string>
	<key>proxyserver</key>
	<string>alsfri12770</string>
	<key>prístupnosť</key>
	<string>alsfri12731</string>
	<key>písma</key>
	<string>alsfri12764</string>
	<key>riešenieproblémov</key>
	<string>alsfri12810</string>
	<key>rodičovskáochrana</key>
	<string>alsfri10997</string>
	<key>rozšírenia</key>
	<string>alsfri33070</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>skratky</key>
	<string>alsfri11014</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>správy</key>
	<string>alsfri51033</string>
	<key>spätnáväzba</key>
	<string>alsfri20882</string>
	<key>stránkynaemaily</key>
	<string>alsfri11002</string>
	<key>synchronizovanie</key>
	<string>alsfri12771</string>
	<key>súkromie</key>
	<string>alsfri12730</string>
	<key>sťahujesa</key>
	<string>alsfri10200</string>
	<key>tabuľkaštýlov</key>
	<string>alsfri12769</string>
	<key>taby</key>
	<string>alsfri10996</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>ukladaniewebovýchstránok</key>
	<string>alsfri11545</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>usporiadaniezáložky</key>
	<string>alsfri12755</string>
	<key>veľkosťtextu</key>
	<string>alsfri12763</string>
	<key>vyhľadávanie</key>
	<string>alsfri12729</string>
	<key>vyhľadávanienawebe</key>
	<string>alsfri12744</string>
	<key>vyhľadávaniewebovýchstránok</key>
	<string>alsfri10178</string>
	<key>vymazávanie</key>
	<string>alsfri19651</string>
	<key>vyrovnávaciapamäť</key>
	<string>alsfri12760</string>
	<key>vyskakovacieokná</key>
	<string>alsfri12766</string>
	<key>webovástránka</key>
	<string>alsfri12740</string>
	<key>webovéarchívy</key>
	<string>alsfri11001</string>
	<key>webovéstránky</key>
	<string>alsfri12739</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>zabezpečenie</key>
	<string>alsfri10201</string>
	<key>zabezpečenieochranysúkromiaabezpečnosti</key>
	<string>alsfri20920</string>
	<key>zbierky</key>
	<string>alsfri51030</string>
	<key>zoznamnaprečítanie</key>
	<string>alsfri35372</string>
	<key>zväčšovanie</key>
	<string>alsfri30905</string>
	<key>záložky</key>
	<string>alsfri10197</string>
	<key>záložkyriešenieproblémov</key>
	<string>alsfri20883</string>
	<key>čítačka</key>
	<string>alsfri33419</string>
	<key>šetreniečasu</key>
	<string>alsfri30740</string>
</dict>
</plist>
