<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acessibilidade</key>
	<string>alsfri12731</string>
	<key>ampliar</key>
	<string>alsfri30905</string>
	<key>antiphishing</key>
	<string>alsfri27219</string>
	<key>apagar</key>
	<string>alsfri19651</string>
	<key>arquivosweb</key>
	<string>alsfri11001</string>
	<key>atalhos</key>
	<string>alsfri11014</string>
	<key>automating</key>
	<string>alsfri20877</string>
	<key>baidu</key>
	<string>alsfri38531</string>
	<key>barradeferramentas</key>
	<string>alsfri12750</string>
	<key>barradelocalização</key>
	<string>alsfri12753</string>
	<key>barrademarcadores</key>
	<string>alsfri12751</string>
	<key>basesdedados</key>
	<string>alsfri26747</string>
	<key>bing</key>
	<string>alsfri34658</string>
	<key>bloquear</key>
	<string>alsfri12765</string>
	<key>bonjour</key>
	<string>alsfri12746</string>
	<key>cache</key>
	<string>alsfri12760</string>
	<key>cartões</key>
	<string>alsfri38601</string>
	<key>centraldenotificações</key>
	<string>alsfri38420</string>
	<key>certificados</key>
	<string>alsfri12773</string>
	<key>certificadosdigitais</key>
	<string>alsfri12774</string>
	<key>codificaçãodetexto</key>
	<string>alsfri12762</string>
	<key>colecções</key>
	<string>alsfri51030</string>
	<key>configurarosafari</key>
	<string>alsfri10198</string>
	<key>contactos</key>
	<string>alsfri18211</string>
	<key>controloparental</key>
	<string>alsfri10997</string>
	<key>cookies</key>
	<string>alsfri12767</string>
	<key>coverflow</key>
	<string>alsfri30737</string>
	<key>descarregar</key>
	<string>alsfri10200</string>
	<key>ecrãinteiro</key>
	<string>alsfri35371</string>
	<key>enviarpáginaswebporemail</key>
	<string>alsfri12778</string>
	<key>exportarmarcadores</key>
	<string>alsfri10999</string>
	<key>extensões</key>
	<string>alsfri33070</string>
	<key>facebook</key>
	<string>alsfri51031</string>
	<key>feedback</key>
	<string>alsfri20882</string>
	<key>ficheirospdf</key>
	<string>alsfri11546</string>
	<key>firefox</key>
	<string>alsfri26752</string>
	<key>folhadeestilos</key>
	<string>alsfri12769</string>
	<key>formulários</key>
	<string>alsfri10199</string>
	<key>google</key>
	<string>alsfri12745</string>
	<key>gráficos</key>
	<string>alsfri12811</string>
	<key>guardarpáginasweb</key>
	<string>alsfri11545</string>
	<key>histórico</key>
	<string>alsfri12726</string>
	<key>html</key>
	<string>alsfri10995</string>
	<key>icloud</key>
	<string>alsfri38493</string>
	<key>imagens</key>
	<string>alsfri12768</string>
	<key>importarmarcadores</key>
	<string>alsfri10998</string>
	<key>informaçãodeprogramação</key>
	<string>alsfri12732</string>
	<key>internacional</key>
	<string>alsfri12772</string>
	<key>internetexplorer</key>
	<string>alsfri12756</string>
	<key>janeladonavegador</key>
	<string>alsfri12741</string>
	<key>janeladosafari</key>
	<string>alsfri12742</string>
	<key>janelas</key>
	<string>alsfri12743</string>
	<key>janelaspopup</key>
	<string>alsfri12766</string>
	<key>leitor</key>
	<string>alsfri33419</string>
	<key>ligações</key>
	<string>alsfri12737</string>
	<key>limpar</key>
	<string>alsfri12821</string>
	<key>listadeleitura</key>
	<string>alsfri35372</string>
	<key>manteraprivacidadeesegurança</key>
	<string>alsfri20920</string>
	<key>marcadores</key>
	<string>alsfri10197</string>
	<key>marcadoresresoluçãodeproblemas</key>
	<string>alsfri20883</string>
	<key>mensagens</key>
	<string>alsfri51033</string>
	<key>menudemarcadores</key>
	<string>alsfri12752</string>
	<key>mobileme</key>
	<string>alsfri12809</string>
	<key>mozilla</key>
	<string>alsfri12758</string>
	<key>navegar</key>
	<string>alsfri10161</string>
	<key>navegarepesquisar</key>
	<string>alsfri30738</string>
	<key>navegarnaweb</key>
	<string>alsfri20919</string>
	<key>navegaçãoresoluçãodeproblemas</key>
	<string>alsfri20881</string>
	<key>notificações</key>
	<string>alsfri38421</string>
	<key>organizarmarcadores</key>
	<string>alsfri12755</string>
	<key>passbook</key>
	<string>alsfri38602</string>
	<key>password</key>
	<string>alsfri12725</string>
	<key>personalizarosafari</key>
	<string>alsfri12727</string>
	<key>pesquisanaweb</key>
	<string>alsfri12744</string>
	<key>pesquisar</key>
	<string>alsfri12729</string>
	<key>phishing</key>
	<string>alsfri27614</string>
	<key>pluginparapowerpc</key>
	<string>alsfri12783</string>
	<key>plugins</key>
	<string>alsfri12733</string>
	<key>poupartempo</key>
	<string>alsfri30740</string>
	<key>preenchimentoautomático</key>
	<string>alsfri10992</string>
	<key>preferênciadeidioma</key>
	<string>alsfri12761</string>
	<key>preferências</key>
	<string>alsfri12781</string>
	<key>preferênciasdosafari</key>
	<string>alsfri12782</string>
	<key>printing</key>
	<string>alsfri11000</string>
	<key>privacidade</key>
	<string>alsfri12730</string>
	<key>privacidadeesegurança</key>
	<string>alsfri30739</string>
	<key>problemasaoabrirpáginasweb</key>
	<string>alsfri12801</string>
	<key>problemasaodescarregarficheiros</key>
	<string>alsfri12804</string>
	<key>problemasaolerpáginasweb</key>
	<string>alsfri12802</string>
	<key>problemasaopreencherautomaticamenteformuláriosoupalavraspasse</key>
	<string>alsfri12800</string>
	<key>problemascommarcadores</key>
	<string>alsfri12803</string>
	<key>problemascomocampodepesquisaouaopesquisar</key>
	<string>alsfri12807</string>
	<key>problemascomplugins</key>
	<string>alsfri12806</string>
	<key>procurarpáginasweb</key>
	<string>alsfri10178</string>
	<key>páginainicial</key>
	<string>alsfri12748</string>
	<key>páginasdecorreio</key>
	<string>alsfri11002</string>
	<key>páginasweb</key>
	<string>alsfri12739</string>
	<key>reporosafari</key>
	<string>alsfri17878</string>
	<key>resoluçãodeproblemas</key>
	<string>alsfri12810</string>
	<key>resolverproblemas</key>
	<string>alsfri30741</string>
	<key>rss</key>
	<string>alsfri10993</string>
	<key>segurança</key>
	<string>alsfri10201</string>
	<key>separadores</key>
	<string>alsfri10996</string>
	<key>servidorproxy</key>
	<string>alsfri12770</string>
	<key>sincronização</key>
	<string>alsfri12771</string>
	<key>snapback</key>
	<string>alsfri12749</string>
	<key>tamanhodotexto</key>
	<string>alsfri12763</string>
	<key>teclado</key>
	<string>alsfri12791</string>
	<key>tiposdeletra</key>
	<string>alsfri12764</string>
	<key>topsites</key>
	<string>alsfri27218</string>
	<key>twitter</key>
	<string>alsfri51032</string>
	<key>universalaccess</key>
	<string>alsfri12792</string>
	<key>url</key>
	<string>alsfri12738</string>
	<key>website</key>
	<string>alsfri12740</string>
	<key>yahoo</key>
	<string>alsfri26749</string>
	<key>íconedecadeado</key>
	<string>alsfri12780</string>
</dict>
</plist>
